---
import ExternalScripts from "../components/ExternalScripts.astro";
import Gtm from "../components/Gtm.astro";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle, description, keywords, href } = Astro.props;
const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="Language" content="de" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={href} />
    <!--
    <meta http-equiv="Strict-Transport-Security: max-age=63072000; includeSubDomains" />
    
    <meta http-equiv="X-Frame-Options: SAMEORIGIN" />
    <meta http-equiv="X-XSS-protection: 0" /> 
    
    <meta http-equiv="Access-Control-Allow-Credentials: true"/>
    
    <meta http-equiv="X-Content-Type-Options: nosniff"/>

    <meta http-equiv="Access-Control-Allow-Methods: GET,POST,PUT,PATCH,DELETE"/>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'sha256-lu31XDMFHibt0Y8FEYRcmBJ/BhlQoWIj43MKyzrbKD0=' 'sha256-C+MFT9uMJPIBROzgRJWxmbJwinQwPQcN4v02Ao5gdvA=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'strict-dynamic' 'unsafe-inline'; script-src-elem 'self' 'sha256-lu31XDMFHibt0Y8FEYRcmBJ/BhlQoWIj43MKyzrbKD0=' 'sha256-C+MFT9uMJPIBROzgRJWxmbJwinQwPQcN4v02Ao5gdvA=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'sha256-hgGMJldl3sg4BDoXB7M8B/x7DiBgEAc84yNklUfPq1o=' 'sha256-hQ/y+1yovgLGoAzIh5U6M/zMTjs+hx26Fx8XFGMf4r4=' 'sha256-8xxtCtRzdfyxUFAvumPyKV6ESMqsgV0+pTGLhd8SJDk=' 'sha256-K6+2VR/WfMDVYPkTMLpuQn74q/WOF9cCoBHC15sNXNQ=' 'sha256-lTrycGLDcNsXLhTboSTQ1Wd2q/CQl8E3vXvL7w1TVNM=' 'sha256-8WfqBSNs9h+H04LhWwanYkMFTQPAfGMxKqbikPB8IHM=' 'sha256-Pt6kHJRcxgv9Ot3Bx+PcLXdEbI37ArI4yiHEhoauGvs=' 'sha256-YVgsmYDwWuhMrbsxqR2FaHcX3Ex1Kh9R5uLp0YSd7Yg=' 'sha256-e29j8XMLy2gBGwbhefY9AyKjdJoWa6421NaJWc6dKwM=' 'sha256-nlnM81R2xMzz9f0xuE1UATY50L/4QI71tbkhDZuVueM=' 'sha256-WNcpF1PgDNHhFvTvua0BZH2FA0Dg3XVli7qFvVctSGo=' 'sha256-YAcA0ELJK0w9Od3gOA1pIdGNyQ+qDqp5xIqL4n28CWo=' 'sha256-fAUXnD8e99cVJuHl1nO3ed5eOkY9um+niOUKtTv9iUQ=' 'sha256-barCKLeDQGjaFIfwOplIcyFop6ZfQqL6Wegc+Ws00yQ=' 'sha256-tl3FIUvO/9jhLwpvDQ/E/Q3o2ZUDivN9h69BH6peaeU=' 'sha256-VmiuVtDYHMmpaBgDybKAaS0/FRVyWHhs1EVeyn7mNFk=' https://www.googletagmanager.com/gtm.js http://localhost:4321/ http://localhost:4321/src/pages/index.astro http://localhost:4321/src/layouts/BaseLayout.astro https://www.googletagmanager.com/gtag/js https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1000620606 http://localhost:4321/src/scripts/menu.js https://www.gstatic.com/recaptcha/releases/-QbJqHfGOUB8nuVRLvzFLVed/recaptcha__de.js 'https://www.gstatic.com/recaptcha/releases/-QbJqHfGOUB8nuVRLvzFLVed/recaptcha__en.js' https://www.google.com/recaptcha/api.js http://localhost:3000/favicon.svg http://localhost:4321/tags/gitarrenunterricht/ http://localhost:4321/tags/blogging/ http://localhost:4321/tags/erfolge/ http://localhost:4321/tags/banjounterricht/ http://localhost:4321/tags/astro/ https://www.google.com/recaptcha/api2/anchor http://localhost:4321/6f205d1f-8224-4bd8-a2bc-a3736399db48 https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1000620606/ https://www.youtube.com/s/player/5bdfe6d5/www-embed-player.vflset/www-embed-player.js https://www.youtube.com/s/player/5bdfe6d5/www-player.css https://www.youtube.com/s/player/5bdfe6d5/player_ias.vflset/de_DE/base.js; connect-src * https:; object-src 'self'; style-src 'self' 'strict-dynamic'; style-src-attr 'self' http://localhost:4321/src/pages/faq.astro 'unsafe-inline'; style-src-elem 'self' http://localhost:4321/src/styles/global.css 'unsafe-inline'; img-src * *.google-analytics.com https://region1.analytics.google.com https://region1.analytics.google.com/g/collect 'report-sample' data:; font-src 'self' http://localhost:4321/fonts/OpenSans-Regular.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Bold.e6f5bf60.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Italic.50ece748.woff2; upgrade-insecure-requests; frame-src 'self' https://www.youtube.com https: data:; form-action 'self' data:; manifest-src 'self' https://www.musicstudio-ziebart.de/manifest.json https://www.musicstudio-ziebart.de/manifest-icon-192.maskable.png; base-uri 'self'"
    > -->
    <!-- Astro CSP Meta tag ist jetzt gültig vom headers -->
    <!--
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'sha256-lu31XDMFHibt0Y8FEYRcmBJ/BhlQoWIj43MKyzrbKD0=' 'sha256-C+MFT9uMJPIBROzgRJWxmbJwinQwPQcN4v02Ao5gdvA=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'strict-dynamic' 'unsafe-inline'; script-src-elem 'self' 'sha256-lu31XDMFHibt0Y8FEYRcmBJ/BhlQoWIj43MKyzrbKD0=' 'sha256-C+MFT9uMJPIBROzgRJWxmbJwinQwPQcN4v02Ao5gdvA=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'sha256-hgGMJldl3sg4BDoXB7M8B/x7DiBgEAc84yNklUfPq1o=' 'sha256-hQ/y+1yovgLGoAzIh5U6M/zMTjs+hx26Fx8XFGMf4r4=' 'sha256-8xxtCtRzdfyxUFAvumPyKV6ESMqsgV0+pTGLhd8SJDk=' 'sha256-8WfqBSNs9h+H04LhWwanYkMFTQPAfGMxKqbikPB8IHM=' 'sha256-fAUXnD8e99cVJuHl1nO3ed5eOkY9um+niOUKtTv9iUQ=' 'sha256-8HelPvgZgctP3t4TqOIze7GOHdh8FAuaKDHMHk2JcE4=' 'sha256-YAcA0ELJK0w9Od3gOA1pIdGNyQ+qDqp5xIqL4n28CWo=' http://localhost:4321/ http://localhost:4321/src/pages/index.astro http://localhost:4321/src/layouts/BaseLayout.astro https://www.googletagmanager.com/gtag/js http://localhost:4321/src/scripts/menu.js https://googleads.g.doubleclick.net https://region1.analytics.com https://www.gstatic.com/recaptcha/releases/pxZcVU8Dk73FyvFvdCgp2MSG/recaptcha__de.js https://www.google.com/recaptcha/api.js http://localhost:3000/favicon.svg https://region1.analytics.google.com/g/collect http://localhost:4321/tags/gitarrenunterricht/ http://localhost:4321/tags/blogging/ http://localhost:4321/tags/erfolge/ http://localhost:4321/tags/banjounterricht/ http://localhost:4321/tags/astro/ https://td.doubleclick.net/ https://www.google.com/recaptcha/api2/anchor https://www.google.de/pagead/1p-user-list/93825274 https://googleads.g.doubleclick.net/pagead/viewthroughconversion/93825274 http://localhost:4321/~partytown/partytown-sandbox-sw.html http://localhost:4321/6f205d1f-8224-4bd8-a2bc-a3736399db48 https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1000620606/; connect-src 'self' https:; object-src 'self'; style-src 'self' 'strict-dynamic'; style-src-attr 'self' http://localhost:4321/src/pages/faq.astro 'unsafe-inline'; style-src-elem 'self' http://localhost:4321/src/styles/global.css 'unsafe-inline'; img-src * 'report-sample'; font-src 'self' http://localhost:4321/fonts/OpenSans-Regular.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Bold.e6f5bf60.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Italic.50ece748.woff2; upgrade-insecure-requests; frame-src 'self' https://www.youtube.com https: data:; form-action 'self' data:; manifest-src 'self' https://www.musicstudio-ziebart.de/manifest.json https://www.musicstudio-ziebart.de/manifest-icon-192.maskable.png; base-uri 'self'"
    > -->
    {
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }

    <meta
      name="google-site-verfication"
      content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
    />
    <meta
      name="author"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta
      name="DC.Publisher"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta name="page-topic" content="Musikunterricht, Musikschule, Bildung">
    <meta name="DC.rights" content="Alle Rechte liegen beim Author" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="max-snippet:-1" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="theme-color" content="#191919" />
    
    <ExternalScripts />
    
    <Gtm />
    
    <ViewTransitions />
    
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWK4LSL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <h1 transition:animate="slide">{pageTitle}</h1>
    <slot />
    <Footer />
    <!-- Altes Script von Video angeschaut für ServiceWorker -->
    <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/serviceWorker.js", { scope: "/" })
          .then(() => console.log("serviceWorker registered"))
          .catch((error) => console.warn(error));
      }
    });
    </script>
    
    <script>
      import "../scripts/menu.js"
    </script>
    
    <script>
      import "../scripts/google.js";
    </script>
  </body>
</html>
