---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import ExternalScripts from "../components/ExternalScripts.astro";
const { pageTitle, description, keywords, href } = Astro.props;
const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- 
    <link rel="canonical" href="https://www.musicstudio-ziebart.de/" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="Language" content="de" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={href} />

    <!--
    <meta http-equiv="Strict-Transport-Security: max-age=63072000; includeSubDomains" /> -->
    <meta http-equiv="X-Frame-Options: SAMEORIGIN" />
    <meta http-equiv="X-XSS-protection: 0" />
    <!--
    <meta http-equiv="X-Content-Type-Options: nosniff"/> -->

    <!-- Astro CSP Meta tag ist jetzt gültig vom headers -->
    <!--
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'sha256-PqnjmS0BrMp9XeReYgMKcqsgTFeWwflX6TIleyNrpss=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'sha256-DnvBoy6PDks6zLuBv4fUC+N+mVENdo9HK4GQ3wlcKZw=' 'sha256-C+MFT9uMJPIBROzgRJWxmbJwinQwPQcN4v02Ao5gdvA=' 'strict-dynamic' 'unsafe-inline'; script-src-attr 'self' http://localhost:4321/ http://localhost:4321/_astro/hoisted.ed38a3c0.js http://localhost:4321/_astro/Greeting.b0e65cea.js; script-src-elem 'self' 'sha256-PqnjmS0BrMp9XeReYgMKcqsgTFeWwflX6TIleyNrpss=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'sha256-DnvBoy6PDks6zLuBv4fUC+N+mVENdo9HK4GQ3wlcKZw=' 'sha256-C+MFT9uMJPIBROzgRJWxmbJwinQwPQcN4v02Ao5gdvA=' http://localhost:4321/ https://www.googletagmanager.com/gtag/js https://googleads.g.doubleclick.net https://region1.analytics.com https://www.gstatic.com/recaptcha/releases/pxZcVU8Dk73FyvFvdCgp2MSG/recaptcha__de.js https://www.google.com/recaptcha/api.js http://localhost:3000/favicon.svg https://region1.analytics.google.com/g/collect http://localhost:4321/tags/gitarrenunterricht/ http://localhost:4321/tags/blogging/ http://localhost:4321/tags/erfolge/ http://localhost:4321/tags/banjounterricht/ http://localhost:4321/tags/astro/ https://td.doubleclick.net/ https://www.google.com/recaptcha/api2/anchor https://www.google.de/pagead/1p-user-list/93825274; connect-src 'self' https:; object-src 'self'; style-src 'self' 'sha256-acGI8kUyQOALtqBlH7qPIV+G6IluhbqlILJXXJsDdvo=' 'sha256-5JSxth0WNzlzY0QhxrDtxB+gj0734CGKbRTRQ1U1y3o=' 'sha256-jQNnSwSTiyRdHUuNL6p81mY1Kvo78UuHrwFZDyhML80=' 'sha256-oo/tuYvWo4eXtSFG5lTqXxGNhuWpg/7UrIdFcU5PJXA=' 'sha256-2yzasHDWWQWgTuKKQGP8FwLhZQuU+lgQ5r6yxyfesSI=' 'sha256-Cb7aZLmwGSJ4Pbbtg1xunkyxgKekWDIQdIq+AYvnv2c=' 'sha256-4hmL0Gdi6EnjXQ2sSRK02b3XxNF8Du1lxqOE/440NEI=' 'sha256-xeRgI9AOHCCOS/OCVI1EZGkqczCOtEUdC3M+10Wfac4=' 'sha256-vv9IoKo7BSLbWcUHr3tNmfNVmm5L/9Cfn2H6LMk7/ow=' 'sha256-91SqjshFcMtOL7Z4dFGg1L+wx0VtPKGh3esDTcejLic=' 'sha256-5FQMzOrPKhcLRqTWyyv6FAj+fKl+v0ZlCDV5dSn3zRU=' 'sha256-/QFeS0dDrqelLZJWFBww2wolKMPxaNcuF0CJ1FVGc/0=' 'sha256-fT+2yJUOWJKsqmToc4oNKmZdxYO1L72rQTjpJ7pqROA=' 'sha256-qAexfb8XHgMg4Wu2JvVsGgal0SW9C5KPNTiFt1GEG8s=' 'sha256-4C6Qd1KxEqAUuX7EV3I4RAd36i+A/TyZdg1BaWjkIk8=' 'sha256-o0McuUyPlrofhS/C+3w06G+LoH2fGAKXNJLvk81jQxc=' 'sha256-uQAYaqQUs+88TksHuZZ+uT0GVEl/BCzh3ioMbQpdd4U=' 'sha256-3WB3ZVtqfqyi+J5SNe9DDAU9UxC4EE5Vkqj4v+X/e4I=' 'strict-dynamic'; style-src-attr 'self' http://localhost:4321/src/pages/faq.astro 'unsafe-inline'; style-src-elem 'self' 'sha256-XJHRAlwyZRki9IdKmqAP5prViEswPC8E5YpInWY3VGw=' 'sha256-xeRgI9AOHCCOS/OCVI1EZGkqczCOtEUdC3M+10Wfac4=' 'sha256-HyXN7WjmOzzRdJTjluXMkJ6pqyeZWOgEXgHUCWYPU8E=' 'sha256-F7gdVDEMcwnckzaFev4VmYfG1wlWPPIJTKH5779I590=' 'sha256-YZFCqzOiet5U8eiVA9ay6NHdbNA2CgVqjZb65d+bcFU=' 'sha256-tgnDLOjLoJVn5tdlCf6PC3OEwYsv/K7NoavXCvx9ZCo=' 'sha256-/n/dB4o5YoO1sJfTKfcnmsiPKoEGXyt7h69Sf9SoXTU=' 'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=' 'sha256-vv9IoKo7BSLbWcUHr3tNmfNVmm5L/9Cfn2H6LMk7/ow=' 'sha256-PqnjmS0BrMp9XeReYgMKcqsgTFeWwflX6TIleyNrpss=' 'sha256-XzEBocNpoZx0k1rA0LJxzxoX+gU5iIzTKFi2xfTaauA=' 'sha256-WcHi3yM5T8nE2cEfzoKjG5EiNYEE4b8SuZ6gu/CHV/c=' 'sha256-iLK/lfAYcTkKfapOExyQpslyyNeGYpZWqGGJeP6nHa0=' 'sha256-RrigcNrKddb2+TlkeOKgpsi6DxB7bv3xrZvcQqSd5bU=' 'sha256-RuXOoKEG9yBCBPx8pVvh7mlYWDLd3TGUUHYg4fLbOI4=' 'sha256-NQcRoelfN20DHdacV9U/VzKkQyOrURVwBZa/ynNXevw=' 'sha256-EUdMqvymsW8rL0fv4W9YFQUkmtNPoGqKER3vUHpGhSE=' 'sha256-YGR1a+bqKVwpj/VDvcdKKsrFjPnsxRdb6dcak/Hcqwc=' 'sha256-gb+vRDdY1/xar8s5s6C1Wc+VPuhfIkplw83FYM3HpHA=' 'sha256-wjqHxjHiEQuDb0snsajEerHuYkL22oMmhSUyTsanfro=' http://localhost:4321/src/styles/global.css; img-src * 'report-sample'; font-src 'self' https://www.musicstudio-ziebart.de/_astro/OpenSans-Regular.4a7f7e24.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Bold.e6f5bf60.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Italic.50ece748.woff2;; upgrade-insecure-requests; frame-src 'self' https://www.youtube.com https: data:; form-action 'self' data:; manifest-src 'self' https://www.musicstudio-ziebart.de/manifest.json https://www.musicstudio-ziebart.de/manifest-icon-192.maskable.png; base-uri 'self'"
    >-->
    
    <!-- dist build CSP -->
    
    <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' 'sha256-PqnjmS0BrMp9XeReYgMKcqsgTFeWwflX6TIleyNrpss=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'sha256-DnvBoy6PDks6zLuBv4fUC+N+mVENdo9HK4GQ3wlcKZw=' 'sha256-C+MFT9uMJPIBROzgRJWxmbJwinQwPQcN4v02Ao5gdvA=' 'strict-dynamic' 'unsafe-inline'; script-src-attr 'self' http://localhost:4321/ http://localhost:4321/_astro/hoisted.ed38a3c0.js http://localhost:4321/_astro/Greeting.b0e65cea.js; script-src-elem 'self' 'sha256-PqnjmS0BrMp9XeReYgMKcqsgTFeWwflX6TIleyNrpss=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'sha256-DnvBoy6PDks6zLuBv4fUC+N+mVENdo9HK4GQ3wlcKZw=' 'sha256-C+MFT9uMJPIBROzgRJWxmbJwinQwPQcN4v02Ao5gdvA=' http://localhost:4321/ https://www.googletagmanager.com/gtag/js https://googleads.g.doubleclick.net https://region1.analytics.com https://www.gstatic.com/recaptcha/releases/pxZcVU8Dk73FyvFvdCgp2MSG/recaptcha__de.js https://www.google.com/recaptcha/api.js http://localhost:3000/favicon.svg https://region1.analytics.google.com/g/collect http://localhost:4321/tags/gitarrenunterricht/ http://localhost:4321/tags/blogging/ http://localhost:4321/tags/erfolge/ http://localhost:4321/tags/banjounterricht/ http://localhost:4321/tags/astro/ https://td.doubleclick.net/ https://www.google.com/recaptcha/api2/anchor https://www.google.de/pagead/1p-user-list/93825274; connect-src 'self' https:; object-src 'self'; style-src 'self' 'sha256-acGI8kUyQOALtqBlH7qPIV+G6IluhbqlILJXXJsDdvo=' 'sha256-5JSxth0WNzlzY0QhxrDtxB+gj0734CGKbRTRQ1U1y3o=' 'sha256-jQNnSwSTiyRdHUuNL6p81mY1Kvo78UuHrwFZDyhML80=' 'sha256-oo/tuYvWo4eXtSFG5lTqXxGNhuWpg/7UrIdFcU5PJXA=' 'sha256-2yzasHDWWQWgTuKKQGP8FwLhZQuU+lgQ5r6yxyfesSI=' 'sha256-Cb7aZLmwGSJ4Pbbtg1xunkyxgKekWDIQdIq+AYvnv2c=' 'sha256-4hmL0Gdi6EnjXQ2sSRK02b3XxNF8Du1lxqOE/440NEI=' 'sha256-xeRgI9AOHCCOS/OCVI1EZGkqczCOtEUdC3M+10Wfac4=' 'sha256-vv9IoKo7BSLbWcUHr3tNmfNVmm5L/9Cfn2H6LMk7/ow=' 'sha256-91SqjshFcMtOL7Z4dFGg1L+wx0VtPKGh3esDTcejLic=' 'sha256-5FQMzOrPKhcLRqTWyyv6FAj+fKl+v0ZlCDV5dSn3zRU=' 'sha256-/QFeS0dDrqelLZJWFBww2wolKMPxaNcuF0CJ1FVGc/0=' 'sha256-fT+2yJUOWJKsqmToc4oNKmZdxYO1L72rQTjpJ7pqROA=' 'sha256-qAexfb8XHgMg4Wu2JvVsGgal0SW9C5KPNTiFt1GEG8s=' 'sha256-4C6Qd1KxEqAUuX7EV3I4RAd36i+A/TyZdg1BaWjkIk8=' 'sha256-o0McuUyPlrofhS/C+3w06G+LoH2fGAKXNJLvk81jQxc=' 'sha256-uQAYaqQUs+88TksHuZZ+uT0GVEl/BCzh3ioMbQpdd4U=' 'sha256-3WB3ZVtqfqyi+J5SNe9DDAU9UxC4EE5Vkqj4v+X/e4I=' 'strict-dynamic'; style-src-attr 'self' http://localhost:4321/src/pages/faq.astro 'unsafe-inline'; style-src-elem 'self' 'sha256-XJHRAlwyZRki9IdKmqAP5prViEswPC8E5YpInWY3VGw=' 'sha256-xeRgI9AOHCCOS/OCVI1EZGkqczCOtEUdC3M+10Wfac4=' 'sha256-HyXN7WjmOzzRdJTjluXMkJ6pqyeZWOgEXgHUCWYPU8E=' 'sha256-F7gdVDEMcwnckzaFev4VmYfG1wlWPPIJTKH5779I590=' 'sha256-YZFCqzOiet5U8eiVA9ay6NHdbNA2CgVqjZb65d+bcFU=' 'sha256-tgnDLOjLoJVn5tdlCf6PC3OEwYsv/K7NoavXCvx9ZCo=' 'sha256-/n/dB4o5YoO1sJfTKfcnmsiPKoEGXyt7h69Sf9SoXTU=' 'sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=' 'sha256-vv9IoKo7BSLbWcUHr3tNmfNVmm5L/9Cfn2H6LMk7/ow=' 'sha256-PqnjmS0BrMp9XeReYgMKcqsgTFeWwflX6TIleyNrpss=' 'sha256-XzEBocNpoZx0k1rA0LJxzxoX+gU5iIzTKFi2xfTaauA=' 'sha256-WcHi3yM5T8nE2cEfzoKjG5EiNYEE4b8SuZ6gu/CHV/c=' 'sha256-iLK/lfAYcTkKfapOExyQpslyyNeGYpZWqGGJeP6nHa0=' 'sha256-RrigcNrKddb2+TlkeOKgpsi6DxB7bv3xrZvcQqSd5bU=' 'sha256-RuXOoKEG9yBCBPx8pVvh7mlYWDLd3TGUUHYg4fLbOI4=' 'sha256-NQcRoelfN20DHdacV9U/VzKkQyOrURVwBZa/ynNXevw=' 'sha256-EUdMqvymsW8rL0fv4W9YFQUkmtNPoGqKER3vUHpGhSE=' 'sha256-YGR1a+bqKVwpj/VDvcdKKsrFjPnsxRdb6dcak/Hcqwc=' 'sha256-gb+vRDdY1/xar8s5s6C1Wc+VPuhfIkplw83FYM3HpHA=' 'sha256-wjqHxjHiEQuDb0snsajEerHuYkL22oMmhSUyTsanfro=' 'sha256-9ltuY3K4HnkGoJZ1UBBTvzF1o9w0Rz8jNPxu7Mz4Dmc=' 'sha256-xkeO08snBltIK6qGv7Jfta5fhFuW+HNsPSrQDHCpN8k=' 'sha256-LOfreYzlIjniLyqg0F58/kbn9YmntZKPSphem5X3mpE=' 'sha256-1Khl/oywrqds8yCgj7sbazB5qUgjAWucGpXVwos0Z/U=' 'sha256-x8Cg9c6AALvsJKpIdaEWxYPyqV1cki4SDf6pBHSqNb8=' 'sha256-J+XE1GZBJpuMA06jPkhP+Z8iN0VZEgz7KH7Y9qeNwdI=' 'sha256-GCutNEcF8u7xmdupGPXOIm7yKrsX25Z7B6DzwEpWRHI=' 'sha256-LjzKxW2D5Hzz0uMqftLSWQYtOYqGdhX/wdNJ+Ag0vGc=' 'sha256-WiMmu5WPmSs516hdJwUgWB0bFrjAHePFtYhivlry/tE=' 'sha256-gmx6SttikOG6kY1TOR/DPVeB4iZmC2ig4UsjZqvohZQ=' 'sha256-nRLojgqreMrLpy1r3VN+q0gjhx9ZjyewiSMCO+TH5co=' 'sha256-ac1XKlQjJ0y9V+D6VODPMoiVQ+aPB+VG6mR9qn/aicc=' http://localhost:4321/src/styles/global.css; img-src * 'report-sample'; font-src 'self' https://www.musicstudio-ziebart.de/_astro/OpenSans-Regular.4a7f7e24.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Bold.e6f5bf60.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Italic.50ece748.woff2;; upgrade-insecure-requests; frame-src 'self' https://www.youtube.com https: data:; form-action 'self' data:; manifest-src 'self' https://www.musicstudio-ziebart.de/manifest.json https://www.musicstudio-ziebart.de/manifest-icon-192.maskable.png; base-uri 'self'"
    > 
    
    {
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }
    

    
    <meta
      name="google-site-verfication"
      content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
    />
    <meta
      name="author"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta
      name="DC.Publisher"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta name="DC.date" content="Collection" />
    <meta name="DC.rights" content="Alle Rechte liegen beim Author" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="max-snippet:-1" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#191919" />
    
    <ExternalScripts />
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <!-- Altes Script von Video angeschaut für ServiceWorker -->
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("/serviceWorker.js", { scope: "/" })
            .then(() => console.log("serviceWorker registered"))
            .catch((error) => console.warn(error));
        }
      });
    </script>
    <script>
      import "../scripts/menu.js";
    </script>
    <script>
      import "../scripts/google.js";
    </script>
  </body>
</html>