---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import ExternalScripts from "../components/ExternalScripts.astro";
const { pageTitle, description, keywords, href } = Astro.props;
const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />
    <!-- 
    <link rel="canonical" href="https://www.musicstudio-ziebart.de/" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="Language" content="de" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={href} />

    <!--
    <meta http-equiv="Strict-Transport-Security: max-age=63072000; includeSubDomains" /> -->
    <meta http-equiv="X-Frame-Options: SAMEORIGIN" />
    <meta http-equiv="X-XSS-protection: 1" />
    <!--
    <meta http-equiv="X-Content-Type-Options: nosniff"/> -->

    <!-- Meta tag ist jetzt gültig vom headers -->
    <!--
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'sha256-DnvBoy6PDks6zLuBv4fUC+N+mVENdo9HK4GQ3wlcKZw=' 'sha256-ktaGXN6d1ocqIX3N8s4OR9s/bb6fnEzrgunwWbeZ5iE=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'strict-dynamic'; script-src-attr 'self' http://localhost:3000/src/scripts/google.js http://localhost:3000/src/scripts/menu.js http://localhost:3000/src/scripts/scrolling.js http://localhost:3000/src/scripts/cookie-banner.js http://localhost:3000/src/components/Greeting.jsx http://localhost:3000/node_modules/.vite/deps/preact.js http://localhost:3000/node_modules/.vite/deps/preact_hooks.js http://localhost:3000/node_modules/.vite/deps/chunk-7BNNZ5SE.js http://localhost:3000/node_modules/.vite/deps/chunk-7BNNZ5SE.js; script-src-elem 'self' 'sha256-DnvBoy6PDks6zLuBv4fUC+N+mVENdo9HK4GQ3wlcKZw=' 'sha256-ktaGXN6d1ocqIX3N8s4OR9s/bb6fnEzrgunwWbeZ5iE=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'sha256-3WB3ZVtqfqyi+J5SNe9DDAU9UxC4EE5Vkqj4v+X/e4I=' https://www.googletagmanager.com/gtag/js https://googleads.g.doubleclick.net https://www.gstatic.com/recaptcha/releases/pxZcVU8Dk73FyvFvdCgp2MSG/recaptcha__de.js https://www.google.com/recaptcha/api.js https://www.google.de/pagead/1p-user-list/93825274; style-src-attr 'self' http://localhost:3000/src/pages/faq.astro 'unsafe-inline'; connect-src 'self' https:; object-src 'self'; style-src 'self' 'sha256-acGI8kUyQOALtqBlH7qPIV+G6IluhbqlILJXXJsDdvo=' 'sha256-5JSxth0WNzlzY0QhxrDtxB+gj0734CGKbRTRQ1U1y3o=' 'sha256-jQNnSwSTiyRdHUuNL6p81mY1Kvo78UuHrwFZDyhML80=' 'sha256-oo/tuYvWo4eXtSFG5lTqXxGNhuWpg/7UrIdFcU5PJXA=' 'sha256-2yzasHDWWQWgTuKKQGP8FwLhZQuU+lgQ5r6yxyfesSI=' 'sha256-Cb7aZLmwGSJ4Pbbtg1xunkyxgKekWDIQdIq+AYvnv2c=' 'sha256-4hmL0Gdi6EnjXQ2sSRK02b3XxNF8Du1lxqOE/440NEI=' 'sha256-xeRgI9AOHCCOS/OCVI1EZGkqczCOtEUdC3M+10Wfac4=' 'sha256-vv9IoKo7BSLbWcUHr3tNmfNVmm5L/9Cfn2H6LMk7/ow=' 'sha256-91SqjshFcMtOL7Z4dFGg1L+wx0VtPKGh3esDTcejLic=' 'sha256-5FQMzOrPKhcLRqTWyyv6FAj+fKl+v0ZlCDV5dSn3zRU=' 'sha256-/QFeS0dDrqelLZJWFBww2wolKMPxaNcuF0CJ1FVGc/0=' 'sha256-fT+2yJUOWJKsqmToc4oNKmZdxYO1L72rQTjpJ7pqROA=' 'sha256-qAexfb8XHgMg4Wu2JvVsGgal0SW9C5KPNTiFt1GEG8s=' 'sha256-4C6Qd1KxEqAUuX7EV3I4RAd36i+A/TyZdg1BaWjkIk8=' 'sha256-o0McuUyPlrofhS/C+3w06G+LoH2fGAKXNJLvk81jQxc=' 'sha256-uQAYaqQUs+88TksHuZZ+uT0GVEl/BCzh3ioMbQpdd4U=' 'sha256-3WB3ZVtqfqyi+J5SNe9DDAU9UxC4EE5Vkqj4v+X/e4I=' 'strict-dynamic'; style-src-elem 'sha256-acGI8kUyQOALtqBlH7qPIV+G6IluhbqlILJXXJsDdvo=' 'sha256-5JSxth0WNzlzY0QhxrDtxB+gj0734CGKbRTRQ1U1y3o=' 'sha256-jQNnSwSTiyRdHUuNL6p81mY1Kvo78UuHrwFZDyhML80=' 'sha256-oo/tuYvWo4eXtSFG5lTqXxGNhuWpg/7UrIdFcU5PJXA=' 'sha256-2yzasHDWWQWgTuKKQGP8FwLhZQuU+lgQ5r6yxyfesSI=' 'sha256-Cb7aZLmwGSJ4Pbbtg1xunkyxgKekWDIQdIq+AYvnv2c=' 'sha256-4hmL0Gdi6EnjXQ2sSRK02b3XxNF8Du1lxqOE/440NEI=' 'sha256-xeRgI9AOHCCOS/OCVI1EZGkqczCOtEUdC3M+10Wfac4=' 'sha256-vv9IoKo7BSLbWcUHr3tNmfNVmm5L/9Cfn2H6LMk7/ow=' 'sha256-91SqjshFcMtOL7Z4dFGg1L+wx0VtPKGh3esDTcejLic=' 'sha256-5FQMzOrPKhcLRqTWyyv6FAj+fKl+v0ZlCDV5dSn3zRU=' 'sha256-/QFeS0dDrqelLZJWFBww2wolKMPxaNcuF0CJ1FVGc/0=' 'sha256-fT+2yJUOWJKsqmToc4oNKmZdxYO1L72rQTjpJ7pqROA=' 'sha256-qAexfb8XHgMg4Wu2JvVsGgal0SW9C5KPNTiFt1GEG8s=' 'sha256-4C6Qd1KxEqAUuX7EV3I4RAd36i+A/TyZdg1BaWjkIk8=' 'sha256-o0McuUyPlrofhS/C+3w06G+LoH2fGAKXNJLvk81jQxc=' 'sha256-uQAYaqQUs+88TksHuZZ+uT0GVEl/BCzh3ioMbQpdd4U=' 'sha256-3WB3ZVtqfqyi+J5SNe9DDAU9UxC4EE5Vkqj4v+X/e4I='; img-src * 'report-sample'; font-src 'self' https://www.musicstudio-ziebart.de/_astro/OpenSans-Regular.4a7f7e24.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Bold.e6f5bf60.woff2 https://www.musicstudio-ziebart.de/_astro/OpenSans-Italic.50ece748.woff2;; upgrade-insecure-requests; frame-src 'self' https://www.youtube.com https: data:; form-action 'self' data:; manifest-src 'self' https://www.musicstudio-ziebart.de/manifest.json https://www.musicstudio-ziebart.de/manifest-icon-192.maskable.png; base-uri 'self'"
    >-->
    
    <meta
      name="google-site-verfication"
      content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
    />
    <meta
      name="author"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta
      name="DC.Publisher"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta name="DC.date" content="Collection" />
    <meta name="DC.rights" content="Alle Rechte liegen beim Author" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="max-snippet:-1" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#191919" />
    
    <ExternalScripts />
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <!-- Altes Script von Video angeschaut für ServiceWorker -->
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("/serviceWorker.js", { scope: "/" })
            .then(() => console.log("serviceWorker registered"))
            .catch((error) => console.warn(error));
        }
      });
    </script>
    <script>
      import "../scripts/menu.js";
    </script>
    <script>
      import "../scripts/google.js";
    </script>
  </body>
</html>