---
//import SecurityPolicy from "../components/SecurityPolicy.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import ExternalScripts from "../components/ExternalScripts.astro";
const { pageTitle, description, keywords, href } = Astro.props;
const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />
    <!-- 
    <link rel="canonical" href="https://www.musicstudio-ziebart.de/" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="Language" content="de" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={href} />

    
    <meta http-equiv="Strict-Transport-Security: max-age=63072000; includeSubdomains; preload" />
    <meta http-equiv="X-Frame-Options: SAMEORIGIN" />
    <meta http-equiv="X-XSS-protection: 1" />
    <meta http-equiv="X-Content-Type-Options: nosniff"/>

    <!-- Meta tag ist jetzt gültig vom headers -->
    <!--
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'sha256-DnvBoy6PDks6zLuBv4fUC+N+mVENdo9HK4GQ3wlcKZw=' 'sha256-ktaGXN6d1ocqIX3N8s4OR9s/bb6fnEzrgunwWbeZ5iE=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' 'strict-dynamic' 'unsafe-inline'; script-src-attr 'self' https://www.musicstudio-ziebart.de/_astro/hoisted.a688dc35.js https://www.musicstudio-ziebart.de/_astro/hoisted.fdbe5a23.js; script-src-elem 'self' 'sha256-DnvBoy6PDks6zLuBv4fUC+N+mVENdo9HK4GQ3wlcKZw=' 'sha256-ktaGXN6d1ocqIX3N8s4OR9s/bb6fnEzrgunwWbeZ5iE=' 'sha256-OW35rfvu4BHhfwKhqwUyQIg6YEuYwO34+zBpuWwvmN4=' https://www.googletagmanager.com https://region1.analytics.com https://googleads.g.doubleclick.net https://www.gstatic.com/recaptcha/releases/pxZcVU8Dk73FyvFvdCgp2MSG/recaptcha__de.js https://www.google.com/recaptcha/api.js https://www.musicstudio-ziebart.de/favicon.svg; connect-src 'self' https:; object-src 'self'; style-src 'self' 'unsafe-inline'; img-src * 'report-sample'; font-src 'self'; upgrade-insecure-requests; frame-src 'self' https://www.youtube.com https: data:; form-action 'self' data:; manifest-src 'self' https://www.musicstudio-ziebart.de/manifest.json https://www.musicstudio-ziebart.de/manifest-icon-192.maskable.png; base-uri 'self'"
    >-->
    
    <meta
      name="google-site-verfication"
      content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
    />
    <meta
      name="author"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta
      name="DC.Publisher"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta name="DC.date" content="Collection" />
    <meta name="DC.rights" content="Alle Rechte liegen beim Author" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="max-snippet:-1" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#191919" />
    <ExternalScripts />
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <!-- Altes Script von Video angeschaut für ServiceWorker -->
    <script is:inline>
      document.addEventListener("DOMContentLoaded", () => {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("/serviceWorker.js", { scope: "/" })
            .then(() => console.log("serviceWorker registered"))
            .catch((error) => console.warn(error));
        }
      });
    </script>
    <script>
      import "../scripts/menu.js";
    </script>
    <script>
      import "../scripts/google.js";
    </script>
  </body>
</html>