---
//import ExternalScripts from "../components/ExternalScripts.astro";
//import Gtm from "../components/Gtm.astro";
//import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
// const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} /> -->
    <title>{pageTitle}</title>
    <meta name="Language" content="de" />
    <!--
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={href} /> -->
    <!--
    {
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
  } -->
    <!--
    <meta
      name="google-site-verfication"
      content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
    /> -->
    <meta
      name="author"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta
      name="DC.Publisher"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta name="page-topic" content="Musikunterricht, Musikschule, Bildung">
    <meta name="DC.rights" content="Alle Rechte liegen beim Author" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="max-snippet:-1" />
    <meta name="robots" content="NOINDEX, FOLLOW" />
    <meta name="theme-color" content="#191919" />
    <!--
    <ExternalScripts />
    
    <Gtm />
    
    <ViewTransitions /> -->
    
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
     <!--
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWK4LSL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <!--
    <script src="/scripts/cookie-banner.js" async></script>
    <script src="/scripts/menu.js" async></script>
    <script src="/scripts/register-service-worker.js" async></script> -->
    <script>
        import "../scripts/menu.js"
    </script>
  </body>
</html>
