---
// Externe Scripte einfügen
import ManuellesBlockieren from "../components/ManuellesBlockieren.astro";
import ExternalScripts from "../components/ExternalScripts.astro";
import ExternalScripts3 from "../components/ExternalScripts3.astro";
import Google from "../components/Google.astro";
import Gtm from "../components/Gtm.astro";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Footer2 from "../components/Footer2.astro";
import VideoSchema from "../components/VideoSchema.astro";
// import "../styles/global.css";
const { pageTitle, description, keywords, href, ogTitle, ogDescription, ogImage, ogUrl, ogType, title, image, url } = Astro.props;
const googleSiteVerification = import.meta.env.PUBLIC_GOOGLE_SITE_VERIFICATION;
---

<!doctype html>
<html lang="de-de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="Language" content="de_DE" />
    <meta name="date" content="12.02.2024" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={href} />
    <VideoSchema
      name="Flint Hill Special - Banjo Lesson"
      description="Flint Hill Special - Banjo Lesson"
      thumbnailUrl="https://i.ytimg.com/vi/R75ZetEwmtw/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=R75ZetEwmtw"
      embedUrl="https://www.youtube.com/embed/R75ZetEwmtw"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Banjo Beginner Lesson"
      description="Banjo Beginner Lesson"
      thumbnailUrl="https://i.ytimg.com/vi/uo5ojnmRHPo/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=R75ZetEwmtw"
      embedUrl="https://www.youtube.com/embed/uo5ojnmRHPo"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Banjo Beginner Lesson 2"
      description="Banjo Beginner Lesson 2"
      thumbnailUrl="https://i.ytimg.com/vi/WmYlSqvpUkw/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=WmYlSqvpUkw"
      embedUrl="https://www.youtube.com/embed/WmYlSqvpUkw"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Joe Satriani - Ten Words Guitar Lesson+Tab"
      description="Joe Satriani - Ten Words Guitar Lesson+Tab"
      thumbnailUrl="https://i.ytimg.com/vi/WmYlSqvpUkw/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=8ucTzPOBzAo"
      embedUrl="https://www.youtube.com/embed/vxX0WiQhSUE?si=8ucTzPOBzAo"
      duration="PT2M45S"
    />
    <VideoSchema
      name="City Of NewOrleans - Arlo Guthrie"
      description="City Of NewOrleans - Arlo Guthrie"
      thumbnailUrl="https://i.ytimg.com/vi/yEF6e2ZSZ0k/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=yEF6e2ZSZ0k"
      embedUrl="https://www.youtube.com/embed/vxX0WiQhSUE?si=yEF6e2ZSZ0k"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Hammond Organ - Hammond Flip - Klaus Wunderlich"
      description="Hammond Organ - Hammond Flip - Klaus Wunderlich"
      thumbnailUrl="https://i.ytimg.com/vi/y2KtSx3-W3w/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=244HlpB3JoA"
      embedUrl="https://www.youtube.com/embed/vxX0WiQhSUE?si=244HlpB3JoA"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Hammond Organ Komponist: Klaus Wunderlich Titel: H-schisch"
      description="Hammond Organ Komponist: Klaus Wunderlich Titel: H-schisch"
      thumbnailUrl="https://i.ytimg.com/vi/y2KtSx3-W3w/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=y2KtSx3-W3w"
      embedUrl="https://www.youtube.com/embed/vxX0WiQhSUE?si=y2KtSx3-W3w"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Notenschrift"
      description="Notenschrift"
      thumbnailUrl="https://i.ytimg.com/vi/Hu4ef1IkuG0/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=Hu4ef1IkuG0"
      embedUrl="https://www.youtube.com/embed/vxX0WiQhSUE?si=Hu4ef1IkuG0"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Intervalle"
      description="Intervalle"
      thumbnailUrl="https://i.ytimg.com/vi/804rrOOFzAQ/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=804rrOOFzAQ"
      embedUrl="https://www.youtube.com/embed/vxX0WiQhSUE?si=804rrOOFzAQ"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Dreiklänge"
      description="Dreiklänge"
      thumbnailUrl="https://i.ytimg.com/vi/fgzboODvlQ4/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=fgzboODvlQ4"
      embedUrl="https://www.youtube.com/embed/vxX0WiQhSUE?si=fgzboODvlQ4"
      duration="PT2M45S"
    />
    <VideoSchema
      name="Funktionsthorie"
      description="Funktionsthorie"
      thumbnailUrl="https://i.ytimg.com/vi/tCkpok099xw/hqdefault.jpg"
      uploadDate="2024-05-30"
      contentUrl="https://www.youtube.com/watch?v=tCkpok099xw"
      embedUrl="https://www.youtube.com/embed/vxX0WiQhSUE?si=tCkpok099xw"
      duration="PT2M45S"
    />
    
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={ogTitle || pageTitle} />
    <meta property="og:description" content={ogDescription || description} />
    <meta property="og:image" content={ogImage} />
    <meta property="og:url" content={ogUrl || href} />
    <meta property="og:url" content={ogUrl || href} />
    <meta property="og:type" content={ogType || "website"} />
    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:url" content={url} />
    {
      googleSiteVerification && (
        <meta
          name="google-site-verification"
          content={googleSiteVerification}
        />
      )
    }

    <meta
      name="google-site-verfication"
      content="Zitul6WICKD7zrzgptxGVrh2GEhozasdEM_d1tGi2aw"
    />
    <meta
      name="author"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta
      name="DC.Publisher"
      content="Musicstudio Ziebart, postmaster@musicstudio-ziebart.de"
    />
    <meta name="page-topic" content="Musikunterricht, Musikschule, Bildung">
    <meta name="DC.rights" content="Alle Rechte liegen beim Author" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="max-snippet:-1" />
    <meta name="robots" content="INDEX, FOLLOW" />
    <meta name="theme-color" content="#191919" />
    
    <!-- Other components or scripts -->
    <ManuellesBlockieren />
    <ExternalScripts />
    <ExternalScripts3 />
    <Google />
    <Gtm />     
    <ViewTransitions />
    
  </head>
  <body>
    <cookie-banner>
      <h2 slot="title">Music Lessons</h2>
      <div slot="text">Wir verwenden Cookies weil das so ist</div>
    </cookie-banner>
  
    <template>
      <div class="foo">Das ist ein Template das siehst du nicht in HTML</div>
    </template>
    {/* Google Tag Manager (noscript) */}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PWK4LSL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {/* End Google Tag Manager (noscript */}
    <Header />
    <h1 transition:animate="slide">{pageTitle}</h1>
    <slot />
    <Footer />
    <Footer2 />
    <!-- Altes Script von Video angeschaut für ServiceWorker -->
    <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/serviceWorker.js", { scope: "/" })
          .then(() => console.log("serviceWorker registered"))
          .catch((error) => console.warn(error));
      }
    });
    </script>
    <!-- Lokale Scripte einfügen -->
    <script>
      import "../scripts/menu.js"
    </script>

    <script>
      import "../scripts/cookie-banner.js";
    </script>

  </body>
</html>
