---
import BaseLayout from "../layouts/BaseLayout.astro";
import Helbig from "../../public/images/helbig-banjoschule.webp";
import Schroeder from "../../public/images/schroeder-banjoschule.webp";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
export const prerender = true;
const pageTitle = "Banjounterricht für 5-string Banjo";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Banjounterricht in Nürnberg. Ich nehme dazu die Schule von Rüdiger Helbig. Sie heißt Beginner Banjo. 🪕"
  keywords="banjounterricht f&uuml;r 5-string banjo, banjounterricht, flint hill special - earl scruggs, train 45, cripple creek, beginner banjo, 5-string banjo, bluegrass banjo, ruediger helbig, banjo lernen deutsch, banjo unterricht, banjo workshop, banjounterricht in eibach, banjolehrer n&uuml;rnberg, banjo spielen ohne noten, banjo kurs, bluegrass banjo lernen, banjounterricht für anfänger, banjo lernen, banjo für anfänger, banjolehrer, banjo workshop, 5-string banjo lernen, banjo anfaenger, banjo picker, banjo lessons, banjo open back"
  href="https://www.musicstudio-ziebart.de/banjounterricht/"
>
  <article>
    <section>
      <p>Mein neuestes Video!</p>
      <h2>Flint Hill Special - Earl Scruggs</h2>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube
            videoid="R75ZetEwmtw"
            style="background-image: url('https://i.ytimg.com/vi/R75ZetEwmtw/hqdefault.jpg');"
          >
            <a
              href="https://www.youtube.com/embed/vxX0WiQhSUE?si=R75ZetEwmtw"
              class="lty-playbtn"
              title="Flint Hill Special - Banjo Lesson"
            >
              <span class="lyt-visually-hidden"
                >Play Video: Keynote (Google I/O '18)</span
              >
            </a>
          </lite-youtube>
        </div>
      </div>

      <h2>Train 45</h2>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube
            videoid="uo5ojnmRHPo"
            style="background-image: url('https://i.ytimg.com/vi/uo5ojnmRHPo/hqdefault.jpg');"
          >
            <a
              href="https://www.youtube.com/embed/vxX0WiQhSUE?si=uo5ojnmRHPo"
              class="lty-playbtn"
              title="Train 45 - Bluegrass Banjo"
            >
              <span class="lyt-visually-hidden"
                >Play Video: Keynote (Google I/O '18)</span
              >
            </a>
          </lite-youtube>
        </div>
      </div>

      <h2>Cripple Creek</h2>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube
            videoid="WmYlSqvpUkw"
            style="background-image: url('https://i.ytimg.com/vi/WmYlSqvpUkw/hqdefault.jpg');"
          >
            <a
              href="https://www.youtube.com/embed/vxX0WiQhSUE?si=WmYlSqvpUkw"
              class="lty-playbtn"
              title="Banjo Beginner Lesson"
            >
              <span class="lyt-visually-hidden"
                >Play Video: Keynote (Google I/O '18)</span
              >
            </a>
          </lite-youtube>
        </div>
      </div>
      <br />
      <hr />
    </section>
    <section>
      <p>Rüdiger Helbig</p>
      <h2>Banjounterricht mit Beginner Banjo</h2>
      <p>
        <img
          src={Helbig.src}
          width={Helbig.width}
          height={Helbig.height}
          alt="Bild SEO Beginners Banjo von Ruediger Helbig"
          aria-label="Bild SEO Beginners Banjo von Ruediger Helbig"
        />
      </p>
      <p>
        Für den Banjounterricht oder im englischen Banjo Picker gibt es in
        deutsch von Rüdiger Helbig ein Werk. "Beginner Banjo" heißt es. Die
        Banjoschule bassiert wie es so üblich ist bei den Banjo Pickern auf
        Tabulaturen. Das heißt es werden keine Noten benutzt. Es ist auch eine
        CD dabei. Jeder Titel wird einmal langsam und dann schnell vorgespielt.
        Es werden am Anfang Rolls und Techniken vorgestellt, danach folgen vier
        Bluegrass Stücke. Später gibt es ein Kapital über sogenannte Backups. Es
        geht um die Banjo Begleitung. Außerdem folgt dann ein Kapital über
        Melodic-Style. Es werden auch Fiddle-Tunes vorgestellt. Das sind Stücke
        die früher auf einer Violine gespielt worden sind und jetzt auf Banjo
        umgeschrieben worden sind.
      </p>
      <br />
      <br />
      <br />
      <br />
      <hr />
    </section>
    <section>
      <p>Sebastian Schröder</p>
      <h2>Banjo spielen!</h2>
      <p>
        <img
          src={Schroeder.src}
          width={Schroeder.width}
          height={Schroeder.height}
          alt="Bild SEO Banjo spielen von Sebastian Schroeder"
          aria-label="Bild SEO Banjo spielen von Sebastian Schroeder"
        />
      </p>
      <p>Die umfassende Schule für das 5-string Banjo</p>
      <ol>
        <li>Für Beginner und Profis</li>
        <li>Alle Stile und Techniken</li>
        <li>Einfache Tabulatur</li>
      </ol>
      <p>
        Die Schule von Sebastian Schröder ist einfacher als die von Rüdiger
        Helbig. Wer also Probleme mit dem Timing bzw. Rhythmus hat würde ich
        diese Schule empfehlen. Ob mit 2 oder 3 Fingern oder Fingerpicks - nach
        einer genauen Einführung kann selbst gewählt werden, welche Stile und
        Techniken auf dem Lehrplan stehen. Alle Übungen sind auf einer mp3 CD
        enthalten. Dank der leichtverständlichen Tabulatur sind keine
        Notenkenntnisse erforderlich.
      </p>
      <p>
        Beispiel von Pete Seeger's Begleitungsstile für Banjo
        <a
          href="/bilder/04_seeger_picking.pdf"
          target="_blank"
          class="normal-links">ansehen</a
        >
        und
        <a href="/Songs/Skip_To_My_Lou.mp3" target="_blank" class="normal-links"
          >anhören</a
        >
      </p>
      <p>
        Das Buch können Sie bei Edition Dux <a
          href="https://www.dux-verlag.de/autoren/sebastian-schroeder/banjo-spielen.html"
          target="_blank"
          class="normal-links">kaufen!</a
        >
      </p>
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </section>
  </article>
</BaseLayout>

<YouTube />

<style>
  article section img {
    max-width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 5px;
    float: right;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
</style>
