---
import BaseLayout from "../layouts/BaseLayout.astro";
import Gitarrenunterricht from "../../public/images/gitarrenunterricht.webp";
import Teschner from "../../public/images/teschner-gitarrenschule.webp";
import Sor from "../../public/images/sor-gitarrenschule.webp";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
import Guitar from "../components/Guitar.astro";
export const prerender = true;
const pageTitle = "Gitarrenunterricht für akustische Gitarre";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Gitarrenunterricht 🎸 in N&uuml;rnberg eibach aller Altersklassen. Klassik, Begleitung und Fingerpicking."
  keywords="gitarrenunterricht f&uuml;r akustische gitarre, gitarrenunterricht, gitarre spielen lernen n&uuml;rnberg, fingerpicking, city of neworleans - arlo guthrie, fingerpicking, fridolin, fernando sor opus 35 opus 31, gitarrenunterricht eibach, westerngitarre für anfaenger und erwachsene, gitarre anfaengerkurs, gitarrenschule in n&uuml;rnberg, jetzt anmelden, gitarrenlehrer, gitarrenschule, guitar unterricht, gitarrenunterricht n&uuml;rnberg, gitarre online, gitarren unterricht, gitarre zum lernen, gitarre lernen in n&uuml;rnberg, gitarrenunterricht in der nähe, online gitarrenkurs, gitarre anfaenger, gitarre lernen, gitarre lernen akkorde, gitarrenlehrer n&uuml;rnberg, gitarren kurse, spanische gitarre lernen, klassische gitarre lernen, gitarre fingerpicking, gitarrenunterricht für anfaenger, gitarre spielen, gitarre spielen lernen, unterricht gitarre, musikunterricht gitarre, gitarre spielen lernen, gitarrenkurs, guitar lessons"
  href="https://www.musicstudio-ziebart.de/gitarrenunterricht/"
>
  <article>
    <p>
      <img
        src={Gitarrenunterricht.src}
        width={Gitarrenunterricht.width}
        height={Gitarrenunterricht.height}
        alt="Bild SEO Gitarrenunterricht für akustische Gitarre-Gitarrenunterricht"
        aria-label="Bild SEO Gitarrenunterricht für akustische Gitarre-Gitarrenunterricht"
      />
    </p>
    <section>
      <h2>Wie schwer ist es Gitarre zu lernen?</h2>
      <p>
        Ich würde mal behaupten für Lagerfeuer Klampfe ist sie nicht so schwer zu erlernen. bei 
        klassischer Musik schaut es dann schon anders aus. Das schwierigste Instrument das ich mache 
        ist immer noch der Klavierunterricht.
      </p>
      <h2>Wie lange dauert es um Gitarre zu lernen?</h2>
      <p> 
        So ungefähr 2 Jahre würde ich sagen bis man einigermaßen spielen kann. Es geht ja auch darum 
        das man Akkorde greifen kann und es gibt auch Boureegriffe. Dies dauert einige Zeit bis die 
        Finger sich darauf eingestellt haben. Gerade wenn man Singen möchte und die Gitarre als Begleitinstrument 
        nimmt.
      </p>
      <h2>Wann ist es zu spät Gitarre zu lernen?</h2>
      <p>
        Es ist nie zu spät eine Gitarre zu lernen. Als Erwachsener braucht man halt dann ein bißchen 
        länger. Die Hauptsache ist das es Spaß macht und das sollte die Musik ja machen. Manche Menschen 
        möchten sich von ihrem Alltags Stress erholen und nutzen dies um Musik zu spielen. Aber um ein 
        Instrument zu erlernen muss man auch täglich üben so mindestens eine halbe Stunde muss schon sein. 
        Es kann auch ruhig etwas mehr sein.
      </p>
      <h2>Wie viel kostet ein Gitarrenunterricht?</h2>
      <p>
        Für 30 Min werden so 15 bis 20.- EUR bezahlt. Das macht dann im Monat so ca. 70,- EUR. Bei 
        45 Min ist man dann bei ca. 20 bis 30 EUR pro Unterrichtseinheit. 45 Min kosten im Monat so 
        80 bis 100,- EUR im Monat.
      </p>
      <h2>Welches Unterrichtsmaterial nimmt man für den Gitarrenunterricht?</h2>
      <p>
        <img
          src={Teschner.src}
          width={Teschner.width}
          height={Teschner.height}
          alt="Bild SEO Teschner Gitarrenschule Fridolin"
          aria-label="Bild SEO Teschner Gitarrenschule Fridolin"
        />
      </p>
      <p>
        Ich nehme für den Gitarrenunterricht die Schule vom Hans Joachim
        Teschner. Der Titel der Schule heißt "Fridolin". Es gibt 2 Bänder davon.
        Die Gitarrenschule ist für 5 - 11 jährige. Die Erwachsenen nehmen diese
        Schule aber auch gern da sie leicht verständlich ist. Es werden auch
        schon die ersten offenen Akkorde wie C oder G usw. gezeigt und
        aufgeschrieben.
      </p>
      <p>
        Vor allem im zweiten Band der Gitarrenschule sind klassische aber auch
        moderne Stücke enthalten. Man lernt das Anlegen oder auch Stützschlag
        genannt. Die rechte Hand schlägt die Saite von oben nach unten an und
        kommt auf die darunter liegende Saite zum stillstand. Der Ton klingt
        dann voller. Man muß aber nicht alles anlegen manchmal ist es besser
        ganz normal offen zu spielen.
      </p>
      <p>
        <img
          src={Sor.src}
          width={Sor.width}
          height={Sor.height}
          alt="Bild SEO Ferdinand Sor Etüden"
          aria-label="Bild SEO Ferdinand Sor Etüden"
        />
      </p>
    </section>
    <section>
      <h2>Weiter führende Gitarrenschulen für den Gitarrenunterricht</h2>
      <p>
        Wenn die beiden Bänder gespielt worden sind nehme ich noch das
        Musikhochschulmaterial her von dem spanischen Gitarristen Fernando Sor.
        Es sind insgesamt 4 Bänder mit je 12 Stücken: Opus 35/I + II und Opus
        31/I + II. Die Etüden also Übungsstücke klingen alle sehr gut und wirken
        schon so als wären es Vortragsstücke. Dazwischen kann man dann noch
        Vortragsstücke einbauen wer es möchte. Meistens haben die Schüler aber
        keine Zeit und sind mit den Etüden beschäftigt. Hier wird nochmals auf
        das Anlegen oder nicht eingegangen. Außerdem kommt noch dazu das man
        auch in höheren Lagen spielen kann. Auch die Spielstücke können schon
        mal 4 Kreuze oder 5 B Vorzeichen haben. Man lernt durch die 24 Etüden
        wirklich enorm dazu und sie klingen auch gut.
      </p>
    </section>
    <section>
      <h2>Wer sich für Popmusik interessiert</h2>
      <p>
        Ich schreibe die Noten und Tabulaturen selber und bringe sie dann mit.
        Es darf natürlich auch dazu gesungen werden. Dies ist ja bei den meisten
        Popsongs oder Balladen so. Wer nicht singen kann oder mag kann ja dann
        nur die Begleitung der Gitarre spielen. Ganz oben bei den beiden Videos
        stelle ich vor wie so was dann klingt.
      </p>
      <p>
        <a href="/instrumentenkauf/" class="normal-links"
          >Mehr Info über die Gitarre</a
        >
      </p>
    </section>
    <section>
      <h2>Videos zum Gitarrenunterricht</h2>
      <p>
        Hier ist mein neuestes Gitarren Tutorial für Akustikgitarre. Yesterday von
        den Beatles!
      </p>
      <div itemscope itemtype="https://schema.org/Movie">
        <h2 itemprop="name">Yesterday</h2>
        <span
          >Komponist: <span itemprop="director">Beatles</span> Das Stück kann man gut
          alleine spielen!
        </span>
        <span itemprop="genre">Pop-Musik</span><a
          href="https://www.youtube.com/watch?v=oqko5Mk_UBk"
          itemprop="video"
        >
          Video</a
        >
      </div>
      <p>
        Ein schönes Beispiel für ein Fingerpicking mit Gitarre und Gesang: Ich
        habe mir damals den Song von Arlo Guthrie rausgesucht. Es heißt "City Of
        NewOrleans". Er selbst spielt übrigens bei diesem Song ein Klavier.
      </p>
      <h2>City Of NewOrleans - Arlo Guthrie</h2>
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube
            videoid="yEF6e2ZSZ0k"
            style="background-image: url('https://i.ytimg.com/vi/yEF6e2ZSZ0k/hqdefault.jpg');"
          >
            <a
              href="https://www.youtube.com/embed/vxX0WiQhSUE?si=yEF6e2ZSZ0k"
              class="lty-playbtn"
              title="City Of NewOrleans - Arlo Guthrie"
            >
              <span class="lyt-visually-hidden"
                >Play Video: Keynote (Google I/O '18)</span
              >
            </a>
          </lite-youtube>
        </div>
      </div>
      <p>
        <a href="/unterricht/" class="normal-links">zurück</a>
      </p>
    </section>
  </article>
</BaseLayout>

<YouTube />

<style>
  article img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }

  article section img {
    max-width: 30%;
    height: auto;
    border-radius: 5px;
    float: right;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
</style>

<Guitar />
