---
import BaseLayout from "../layouts/BaseLayout.astro";
import Teschner from "../../public/gitarrenunterricht/teschner-gitarrenschule.webp";
import Sor from "../../public/gitarrenunterricht/sor-gitarrenschule.webp";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
import Guitar from "../components/Guitar.astro";
export const prerender = true;
const pageTitle = "Gitarrenunterricht";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Gitarrenunterricht 🎸 in nürnberg eibach aller Altersklassen. Klassik, Begleitung und Fingerpicking."
  keywords="gitarrenunterricht, fingerpicking, city of neworleans - arlo guthrie, fingerpicking, fridolin, fernando sor opus 35 opus 31, gitarrenunterricht eibach, westerngitarre für anfänger und erwachsene, gitarre anfängerkurs, gitarrenschule in nürnberg, jetzt anmelden, gitarrenlehrer, gitarrenschule, guitar unterricht, gitarrenunterricht nürnberg, gitarre online, gitarren unterricht, gitarre zum lernen, gitarre lernen in nürnberg, gitarrenunterricht in der nähe, online gitarrenkurs, gitarre anfänger, gitarre lernen, gitarre lernen akkorde, gitarrenlehrer nürnberg, gitarren kurse, spanische gitarre lernen, klassische gitarre lernen, gitarre fingerpicking, gitarrenunterricht für anfänger, gitarre spielen, gitarre spielen lernen, unterricht gitarre, musikunterricht gitarre, gitarre spielen lernen, gitarrenkurs, guitar lessons"
  href="https://www.musicstudio-ziebart.de/gitarre/"
>
  <section>
    <p>
      Hier ist mein neuestes Gitarren Tutorial für Akustikgitarre. Yesterday von den
      Beatles!
    </p>
    <div itemscope itemtype="https://schema.org/Movie">
      <h2 itemprop="name" >Yesterday</h2>
      <span>Komponist: <span itemprop="director" >Beatles</span> Das Stück kann man gut alleine spielen! </span>
      <span itemprop="genre" >Pop-Musik</span><a href="https://www.youtube.com/watch?v=oqko5Mk_UBk" itemprop="video" >
        Video</a>
    </div>
    <p>
      Ein schönes Beispiel für ein Fingerpicking mit Gitarre und Gesang: Ich
      habe mir damals den Song von Arlo Guthrie rausgesucht. Es heißt "City Of
      NewOrleans". Er selbst spielt übrigens bei diesem Song ein Klavier.
    </p>
    <h2>City Of NewOrleans - Arlo Guthrie</h2>
    <div class="video-container-wrapper">
      <div class="video-container">
        <lite-youtube videoid="yEF6e2ZSZ0k" style="background-image: url('https://i.ytimg.com/vi/yEF6e2ZSZ0k/hqdefault.jpg');">
          <a href="https://www.youtube.com/embed/vxX0WiQhSUE?si=yEF6e2ZSZ0k" class="lty-playbtn" title="City Of NewOrleans - Arlo Guthrie">
            <span class="lyt-visually-hidden">Play Video: Keynote (Google I/O '18)</span>
          </a>
          </lite-youtube>  
      </div>
    </div>
    <article>
      <h2>Fridolin</h2>
      <p>
        <img
          src={Teschner.src}
          width={Teschner.width}
          height={Teschner.height}
          alt="Bild SEO Teschner Gitarrenschule Fridolin"
          aria-label="Bild SEO Teschner Gitarrenschule Fridolin"
        />
      </p>
      <br />
      <br />
      <br />
      <p>
        Ich nehme für den Gitarrenunterricht die Schule vom Hans Joachim
        Teschner. Der Titel der Schule heißt "Fridolin". Es gibt 2 Bänder davon.
        Die Gitarrenschule ist für 5 - 11 jährige. Die Erwachsenen nehmen diese
        Schule aber auch gern da sie leicht verständlich ist.
      </p>
      <br />
      <br />
      <br />
      <br />
      <p>
        <img
          src={Sor.src}
          width={Sor.width}
          height={Sor.height}
          alt="Bild SEO Ferdinand Sor Etüden"
          aria-label="Bild SEO Ferdinand Sor Etüden"
        />
      </p>
      <h2>Fernando Sor Opus 35, Opus 31</h2>
      <p>
        Wenn die beiden Bänder gespielt worden sind nehme ich noch das
        Musikhochschulmaterial her von dem spanischen Gitarristen Fernando Sor.
        Es sind insgesamt 4 Bänder mit je 12 Stücken: Opus 35/I + II und Opus
        31/I + II. Dazwischen kann man dann noch Vortragsstücke einbauen.
      </p>
      <p>
        <a href="/instrumentenkauf/" class="normal-links"
          >Mehr Info über die Gitarre</a
        >
      </p>
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>

<YouTube />

<style>
  article img {
    max-width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 5px;
    float: right;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
</style>

<Guitar />