---
import BaseLayout from "../layouts/BaseLayout.astro";
import Teschner from "../../public/images/teschner-wide.webp";
import Sor from "../../public/images/sor-wide.webp";
export const prerender = true;
const pageTitle = "Gitarrenunterricht";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Gitarrenunterricht in nürnberg eibach aller Altersklassen"
  keywords="gitarrenunterricht, musicstudio-ziebart, gitarrenschule in nürnberg, jetzt anmelden, gitarrenlehrer, gitarrenschule, guitar unterricht, gitarrenunterricht nürnberg, gitarre online, gitarren unterricht, gitarre zum lernen, gitarre lernen in nürnberg, gitarrenunterricht in der nähe, online gitarrenkurs, gitarre anfänger, gitarre lernen, gitarre lernen akkorde, gitarrenlehrer nürnberg, gitarren kurse, spanische gitarre lernen, klassische gitarre lernen, gitarre fingerpicking, gitarrenunterricht für anfänger, gitarre spielen, gitarre spielen lernen, unterricht gitarre, musikunterricht gitarre, gitarre spielen lernen, gitarrenkurs, guitar lessons"
  href="https://www.musicstudio-ziebart.de/gitarrenunterricht/"
>
  <section>
    <p>
      Hier ist mein neuesten Video für Akustikgitarre. Yesterday von den
      Beatles!
    </p>
    <h2>Yesterday - Beatles</h2>
    <div class="video-container-wrapper">
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/oqko5Mk_UBk?rel=0"
          width="560"
          height="315"
          title="Beatles - Yesterday Gitarre Tutorial"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>
    <p>
      Ein schönes Beispiel für ein Fingerpicking mit Gitarre und Gesang: Ich
      habe mir damals den Song von Arlo Guthrie rausgesucht. Es heißt "City Of
      NewOrleans". Er selbst spielt übrigens bei diesem Song ein Klavier.
    </p>
    <h2>City Of NewOrleans - Arlo Guthrie</h2>
    <div class="video-container-wrapper">
      <div class="video-container">
        <iframe
          src="https://www.youtube.com/embed/yEF6e2ZSZ0k"
          width="560"
          height="315"
          title="City Of NewOrleans - Arlo Guthrie"
          frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>
    <article>
      <h2>Fridolin</h2>
      <p>
        <img
          src={Teschner.src}
          width={Teschner.width}
          height={Teschner.height}
          alt="Teschner Gitarrenschule Fridolin"
        />
      </p>
      <br />
      <br />
      <br />
      <p>
        Ich nehme für den Gitarrenunterricht die Schule vom Hans Joachim
        Teschner. Der Titel der Schule heißt "Fridolin". Es gibt 2 Bänder davon.
        Die Gitarrenschule ist für 5 - 11 jährige. Die Erwachsenen nehmen diese
        Schule aber auch gern da sie leicht verständlich ist.
      </p>
      <br />
      <p>
        <img
          src={Sor.src}
          width={Sor.width}
          height={Sor.height}
          alt="Ferdinand Sor Etüden"
        />
      </p>
      <h2>Fernando Sor Opus 35, Opus 31</h2>
      <p>
        Wenn die beiden Bänder gespielt worden sind nehme ich noch das
        Musikhochschulmaterial her von dem spanischen Gitarristen Fernando Sor.
        Es sind insgesamt 4 Bänder mit je 12 Stücken: Opus 35/I + II und Opus
        31/I + II. Dazwischen kann man dann noch Vortragsstücke einbauen.
      </p>
      <p>
        <a href="/instrumentenkauf/" class="normal-links"
          >Mehr Info über die Gitarre</a
        >
      </p>
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>
