---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
export const prerender = true;
const pageTitle = "Musiklehrer erteilt Musikunterricht | Musicstudio Ziebart";
const pageDescription = "Ich gebe Musikunterricht in Nürnberg 🎹. Individueller Unterricht für Anfänger und Fortgeschrittene 🎼, jetzt anrufen! Tel.: 0911/6320890";
const pageImage = "https://www.musicstudio-ziebart.de/images/musikunterricht.webp";
const pageUrl = "https://www.musicstudio-ziebart.de/";
---

<BaseLayout
  pageTitle={pageTitle}
  description={pageDescription}
  keywords="musiklehrer erteilt musikunterricht | musicstudio-ziebart, musikunterricht nürnberg, musikschule für alle, musikmachen, musik machen, musikschule nürnberg standorte, musikschule nürnberg lehrer, musikschule nürnberg preise, musikschule eibach, musicstudio ziebart online musikunterricht, privatmusikunterricht, musikunterricht grundschule, musikschule, google search console, günstige Preise, musikausbildung, qualifizierter musiklehrer, online-musikunterricht, kinder musikalisch fördern, musicstudio-ziebart, musikschule nürnberg kinder, klavierunterricht kinder nürnberg, musikschulen nürnberg, musikschule nürnberg, nürnberg musikschule, gitarrenunterricht für kinder nürnberg, gitarre lernen nürnberg, musikschule nürnberg eibach, musikschule nürnberg preise, musikschule in der naehe, musikschule nürnberg kinder, musiklehrer, musiklehrer nürnberg"
  href={pageUrl}
  ogTitle={pageTitle}
  ogDescription={pageDescription}
  ogImage={pageImage}
  ogUrl={pageUrl}
>
  <div class="firmenname">
    Musicstudio Ziebart<br />
    Staatl. Anerk. Musiklehrer
  </div>
  <p>
  <img
      src="/images/musikunterricht.webp" 
      alt="Bild SEO Musiklehrer erteilt Musikunterricht | Musicstudio-ziebart" 
      aria-label="Bild SEO Musiklehrer erteilt Musikunterricht | Musicstudio-ziebart"
  />
  </p>
    <br />
    <br />
    <article class="conteneur">
      <section class="marchandise marchandise-1">
        <h2>Musikunterricht für alle</h2>
        
      </section>
    </article>
</BaseLayout>

