---
import BaseLayout from "../layouts/BaseLayout.astro";
import FacebookTag from "../components/FacebookTag.astro";
import Card from "../components/Card.astro";
import Musikunterricht from "../../public/images/musikunterricht.webp";
import Anruf from "../../public/images/anruf-192x192.png";
export const prerender = true;
const pageTitle = "Musiklehrer erteilt Musikunterricht | Musicstudio Ziebart";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Musikunterricht in Nürnberg 🎹. Indivitueller Unterricht für Anfänger und Fortgeschrittene 🎼, jetzt anrufen! Tel.: 0911/6320890"
  keywords="musiklehrer erteilt musikunterricht | musicstudio-ziebart, musikunterricht nürnberg, musikschule für alle, musikmachen, musik machen, musikschule nürnberg standorte, musikschule nürnberg lehrer, musikschule nürnberg preise, musikschule eibach, musicstudio ziebart online musikunterricht, privatmusikunterricht, musikunterricht grundschule, musikschule, google search console, günstige Preise, musikausbildung, qualifizierter musiklehrer, online-musikunterricht, kinder musikalisch fördern, musicstudio-ziebart, musikschule nürnberg kinder, klavierunterricht kinder nürnberg, musikschulen nürnberg, musikschule nürnberg, nürnberg musikschule, gitarrenunterricht für kinder nürnberg, gitarre lernen nürnberg, musikschule nürnberg eibach, musikschule nürnberg preise, musikschule in der naehe, musikschule nürnberg kinder, musiklehrer, musiklehrer nürnberg"
  href="https://www.musicstudio-ziebart.de/"
>
  <div class="firmenname">
    Musicstudio Ziebart<br />
    Staatl. Anerk. Musiklehrer
  </div>
  <p>
    <img
      src={Musikunterricht.src}
      width={Musikunterricht.width}
      height={Musikunterricht.height}
      alt="Bild SEO Musiklehrer erteilt Musikunterricht | Musicstudio Ziebart"
      aria-label="Bild SEO Musiklehrer erteilt Musikunterricht | Musicstudio Ziebart"
    />
    <!--
  </p>
  <cookie-banner>
    <h2 slot="title">HERZLICH WILLKOMMEN</h2>
    <div slot="text">Wir verwenden cookies weil das so ist.</div>
  </cookie-banner>

  <template>
    <div class="foo">Das ist ein Template das siehst du nicht in HTML</div>
  </template> -->
    <br />
    <br />
    <article class="conteneur">
      <section class="marchandise marchandise-1">
        <h2>Musikunterricht für alle</h2>
        <p>
          Das Musikstudio wurde 1984 gegründet. Ich bin staatlich anerkannter
          Musiklehrer mit pädagogischer Ausbildung. Ich gebe Musikunterricht in
          Nürnberg für alle Altersklassen. Es ist eine Musikschule für alle der
          oder die Interesse an Musik hat. Das Unterrichtshonorar ist bei allen
          Instrument dasselbe. Oft werde ich gefragt mit wieviel Jahren soll man
          denn anfangen zum musizieren? Also frühestens ab der 2. Klasse ist es
          ein ganz gutes Alter meine ich. Bei Blockflöte kann man vielleicht
          noch ein bißchen früher anfangen.
        </p>
        <h2>Ist Musikunterricht gut für Kinder?</h2>
        <p>
          Ist der Besuch einer Musikschule gut für Kinder? Ja der Besuch kann
          für Kinder äußerst von Vorteil sein. Musikschulen fördern auch die
          persönliche Entwicklung der Kinder.
        </p>
        <h2>Was bringt Musikschule?</h2>
        <p>
          Musik und das Erlernen eines Instrumentes helfen Kindern und
          Jugendlichen, Eigeninitiative und Leistungsbereitschaft zu entwickeln.
          Sie fördern Ausdauer und Konzentrationsfähigkeit.
        </p>
        <h2>Warum wird Musik in der Schule unterrichtet?</h2>
        <p>
          Guter Musikunterricht, ob in der allgemeinbildenden Schule oder in der
          Musikschule, unterstützt die Entwicklung von Kindern und Jugendlichen
          umfassend.
        </p>
        <h2>Qualifizierte Musiklehrer</h2>
        <p>
          Qualifizierte Musiklehrer sind wichtig damit die Schüler nicht
          überfordert werden. Es ist wichtig einen sogenannten roten Leitfaden
          zu haben. Also eine Schule nutzen die einen langsamen Aufbau
          beinhaltet bis es zum Erfolg führt. Es hat keinen Sinn einfach nur
          Zettel auszugeben da ein Stück leichten Schwierigkeitsgrad und dann
          sofort ein Stück mit schwierigen Schwierigkeitsgrad. Die Schüler
          verlieren die Lust am Spielen wenn sie überfordert werden. Übrigens um
          ein Instrument zu erlernen damit halbwegs was rauskommt das nach Musik
          klingt braucht es ungefähr 2 Jahre.
        </p>
        <h2>Egal ob Anfänger oder Fortgeschrittener</h2>
        <p>
          Tauchen Sie ein in die wunderbare Welt der Musik mit den besten
          Musikunterrichtsstätten in Nürnberg! Wenn Sie leidenschaftlich gerne
          ein neues Instrument erlernen oder Ihre bereits vorhandenen
          Fähigkeiten verbessern möchten, dann sind Sie hier genau richtig.
          Egal, ob Sie Anfänger oder Fortgeschrittener sind, ich habe
          langjährige Erfahrung in der Lehre verschiedener Musikrichtungen und
          Instrumente. Von Gitarre und Klavier über E-Gitarre und Bass bis hin
          zur Klarinette und Saxophon. In unserem Musikunterrichtsraum in
          Nürnberg erwartet Sie nicht nur Unterricht in hoher Qualität, sondern
          auch eine freundliche und motivierende Atmosphäre. Ich glaube daran,
          dass Musik eine universelle Sprache ist, die Menschen verbindet und
          Freude bereitet. Lassen Sie mir helfen, Ihre musikalischen Ziele zu
          erreichen und Ihre Leidenschaft für Musik zu entfachen. Starten Sie
          noch heute Ihren musikalischen Lebensweg mit mir!
        </p>
        <p>
          Musik selber spielen oder Musik machen ist ein interressantes Hobby
          für jung und alt und vielleicht macht es ja der eine oder die andere
          einmal zum Beruf? Musik spielen macht Spaß! Außerdem führt das
          Musizieren oder Singen weg von der Konsumierung und führt zu eigenen
          Kreativitäten!
        </p>
        <h2>Online-Musikunterricht</h2>
        <p>
          Ich biete zusätzlich zu dem bisherigen Präsenzunterricht einen<p>
            <b>Online-Musikunterricht</b>
            <p>
              an. Dieser Musikunterricht wird über das Streaming Programm Skype
              oder Zoom gemacht. Die Preise sind dieselben als beim dem
              Präsenzunterricht. Die Konditionen sind beim
              Online-Musikunterricht etwas anders. Sie können monatlich
              kündigen. Falls die Chemie zwischen Lehrer und Schüler nicht
              stimmt. Sie brauchen sich also nicht auf lange Vertragsbindungen
              einlassen. Die Ferien im Monat August brauchen Sie nicht bezahlen.
            </p>
            <p>
              Ich möchte an dieser Stelle ausdrücklich darauf hinweisen das der
              Online-Musikunterricht einige Vorteile hat. Falls Sie nicht in
              Nürnberg wohnen sondern weiter weg wäre es unmöglich einen
              Musikunterricht zu machen. Es wäre zu zeitaufwending und zu
              kostspielig. Aber durch diesen Online-Musikunterricht können Sie
              überall in ganz Deutschland wohnen und wir könnten uns trotzdem
              einmal in der Woche virtuell treffen. Dies erspart auch die
              Anfahrtskosten und die Zeit die man dazu braucht. Also ich habe
              einen Schüler aus Thüringen und das klappt bis jetzt wunderbar.
              Ich freue mich jedesmal auf diesen Online-Musikunterricht und er
              auch ohne diesen weiten Weg in Kauf zu nehmen um zu mir zu kommen.
            </p>
            <p>
              <small>
                Hinweis: Für alle Handy Benutzer. Oben links ist so ein Kreis
                für das Sonnenzeichen. Darauf klicken dann wird es zu einem
                Mond. Dies ist der Darkmode falls die Sonneneinstrahlung zu
                stark ist.
              </small>
            </p>
          </p>
          <section class="marchandise marchandise-2">
            <h2>Was kostet Musikunterricht in Deuschland?</h2>
            <p>
              Von den Musikschulen Nürnberg bin ich wahrscheinlich die
              günstigste mit 65,- € Monatshonorar. Um bessere Suchergebnisse zu
              bekommen habe ich übrigens die Seite in der Google Search Console
              eingetragen.
            </p>
            <p>Ich freue mich auf Ihren Besuch oder Anruf!</p>
            <h2>Kostenlose Probestunde</h2>
            <p>
              Aus hygienischen Gründen können bei Blasinstrumente keine
              Instrumente zur Verfügung gestellt werden.
            </p>
            <p>
              Anmeldung zu einem
              <a href="/contact_2/" class="normal-links">
                kostenlosen Probeunterricht!
              </a>
            </p>
            <hr />
            <p>
              Link zu
              <a
                href="https://www.youtube.com/channel/UCwRRdmLAvaERcd0K_WPMZMw/videos"
                class="normal-links"
                target="_blank"
                >Mein YouTube Kanal
              </a>
            </p>
            <p>
              Auf meinem YouTube Kanal ist f&uuml;r alle Hammond Fans was dabei!
              Auch E-Gitarristen und Akustische Gitarre kommen auf ihre Kosten.
              Übrigens das klassische Klavier ist bei den Menschen immer noch
              hoch im Kurs!
            </p>
            <hr />
            <br />
            <h2>Kontakt</h2>
            <p>
              Musicstudio Ziebart <br />Gunzenhausener Str. 20 <br />90451
              Nürnberg
            </p>
            <p>Staatl. anerkannter Musiklehrer</p>

            <ul class="link-card-grid">
              <Card
                href="/contact_4/"
                title="Rückruf"
                body="Kurze Mitteilung an mich!"
              />
            </ul>
            <hr />
            <br />
            <img
              src={Anruf.src}
              width={Anruf.width}
              height={Anruf.height}
              alt="Bild Telefonhoerer"
              aria-label="Bild Telefonhoerer"
            />
            <h2>Telefon</h2>
            <address>
              <p>
                Ruf mich an:<br />
                <a href="tel:+499116320890" class="normal-links">0911 6320890</a
                >
              </p>
            </address>

            <br />
            <p>
              eMail:&nbsp;
              <a
                href="mailto:postmaster@musicstudio-ziebart.de"
                class="normal-links"
                onfocus="this.blur()"
                >Oder schreibe mir eine E-Mail.
              </a>
            </p>
            <p>
              Meine
              <a
                href="https://maps.google.de/maps?ie=UTF8&cid=10230175189141752103&q=Musikschule+Ziebart&iwloc=A&gl=DE&hl=de"
                target="top"
                class="normal-links"
                >Standortansicht im Stadtplan!
              </a>
            </p>
            <hr />
            <br />
            <p>ÖFFNUNGSZEITEN:</p>
            <p>Montag - Freitag 14.00 - 19.00 Uhr</p>
            <br />
            Powered by <a href="https://astro.build" class="normal-links"
              >{Astro.generator}</a
            >
            <br />
            <hr />
            <br />
            <p>
              Meine RSS-Feeds Adresse von Musicstudio Ziebart
              <a
                href="https://www.musicstudio-ziebart.de/rss.xml"
                class="normal-links"
                >https://www.musicstudio-ziebart.de/rss.xml
              </a>
            </p>
          </section>
        </p>
      </section>

      <FacebookTag />

      <script is:inline>
        if (!("gdprAppliesGlobally" in window)) {
          window.gdprAppliesGlobally = true;
        }
        if (!("cmp_id" in window) || window.cmp_id < 1) {
          window.cmp_id = 0;
        }
        if (!("cmp_cdid" in window)) {
          window.cmp_cdid = "b018a967f10b6";
        }
        if (!("cmp_params" in window)) {
          window.cmp_params = "";
        }
        if (!("cmp_host" in window)) {
          window.cmp_host = "d.delivery.consentmanager.net";
        }
        if (!("cmp_cdn" in window)) {
          window.cmp_cdn = "cdn.consentmanager.net";
        }
        if (!("cmp_proto" in window)) {
          window.cmp_proto = "https:";
        }
        if (!("cmp_codesrc" in window)) {
          window.cmp_codesrc = "1";
        }
        window.cmp_getsupportedLangs = function () {
          var b = [
            "DE",
            "EN",
            "FR",
            "IT",
            "NO",
            "DA",
            "FI",
            "ES",
            "PT",
            "RO",
            "BG",
            "ET",
            "EL",
            "GA",
            "HR",
            "LV",
            "LT",
            "MT",
            "NL",
            "PL",
            "SV",
            "SK",
            "SL",
            "CS",
            "HU",
            "RU",
            "SR",
            "ZH",
            "TR",
            "UK",
            "AR",
            "BS",
          ];
          if ("cmp_customlanguages" in window) {
            for (var a = 0; a < window.cmp_customlanguages.length; a++) {
              b.push(window.cmp_customlanguages[a].l.toUpperCase());
            }
          }
          return b;
        };
        window.cmp_getRTLLangs = function () {
          var a = ["AR"];
          if ("cmp_customlanguages" in window) {
            for (var b = 0; b < window.cmp_customlanguages.length; b++) {
              if (
                "r" in window.cmp_customlanguages[b] &&
                window.cmp_customlanguages[b].r
              ) {
                a.push(window.cmp_customlanguages[b].l);
              }
            }
          }
          return a;
        };
        window.cmp_getlang = function (a) {
          if (typeof a != "boolean") {
            a = true;
          }
          if (
            a &&
            typeof cmp_getlang.usedlang == "string" &&
            cmp_getlang.usedlang !== ""
          ) {
            return cmp_getlang.usedlang;
          }
          return window.cmp_getlangs()[0];
        };
        window.cmp_extractlang = function (a) {
          if (a.indexOf("cmplang=") != -1) {
            a = a.substr(a.indexOf("cmplang=") + 8, 2).toUpperCase();
            if (a.indexOf("&") != -1) {
              a = a.substr(0, a.indexOf("&"));
            }
          } else {
            a = "";
          }
          return a;
        };
        window.cmp_getlangs = function () {
          var g = window.cmp_getsupportedLangs();
          var c = [];
          var f = location.hash;
          var e = location.search;
          var j = "cmp_params" in window ? window.cmp_params : "";
          var a = "languages" in navigator ? navigator.languages : [];
          if (cmp_extractlang(f) != "") {
            c.push(cmp_extractlang(f));
          } else {
            if (cmp_extractlang(e) != "") {
              c.push(cmp_extractlang(e));
            } else {
              if (cmp_extractlang(j) != "") {
                c.push(cmp_extractlang(j));
              } else {
                if ("cmp_setlang" in window && window.cmp_setlang != "") {
                  c.push(window.cmp_setlang.toUpperCase());
                } else {
                  if (
                    "cmp_langdetect" in window &&
                    window.cmp_langdetect == 1
                  ) {
                    c.push(window.cmp_getPageLang());
                  } else {
                    if (a.length > 0) {
                      for (var d = 0; d < a.length; d++) {
                        c.push(a[d]);
                      }
                    }
                    if ("language" in navigator) {
                      c.push(navigator.language);
                    }
                    if ("userLanguage" in navigator) {
                      c.push(navigator.userLanguage);
                    }
                  }
                }
              }
            }
          }
          var h = [];
          for (var d = 0; d < c.length; d++) {
            var b = c[d].toUpperCase();
            if (b.length < 2) {
              continue;
            }
            if (g.indexOf(b) != -1) {
              h.push(b);
            } else {
              if (b.indexOf("-") != -1) {
                b = b.substr(0, 2);
              }
              if (g.indexOf(b) != -1) {
                h.push(b);
              }
            }
          }
          if (
            h.length == 0 &&
            typeof cmp_getlang.defaultlang == "string" &&
            cmp_getlang.defaultlang !== ""
          ) {
            return [cmp_getlang.defaultlang.toUpperCase()];
          } else {
            return h.length > 0 ? h : ["EN"];
          }
        };
        window.cmp_getPageLangs = function () {
          var a = window.cmp_getXMLLang();
          if (a != "") {
            a = [a.toUpperCase()];
          } else {
            a = [];
          }
          a = a.concat(window.cmp_getLangsFromURL());
          return a.length > 0 ? a : ["EN"];
        };
        window.cmp_getPageLang = function () {
          var a = window.cmp_getPageLangs();
          return a.length > 0 ? a[0] : "";
        };
        window.cmp_getLangsFromURL = function () {
          var c = window.cmp_getsupportedLangs();
          var b = location;
          var m = "toUpperCase";
          var g = b.hostname[m]() + ".";
          var a = b.pathname[m]() + "/";
          var f = [];
          for (var e = 0; e < c.length; e++) {
            var j = a.substring(0, c[e].length + 1);
            if (g.substring(0, c[e].length + 1) == c[e] + ".") {
              f.push(c[e][m]());
            } else {
              if (c[e].length == 5) {
                var k = c[e].substring(3, 5) + "-" + c[e].substring(0, 2);
                if (g.substring(0, k.length + 1) == k + ".") {
                  f.push(c[e][m]());
                }
              } else {
                if (j == c[e] + "/" || j == "/" + c[e]) {
                  f.push(c[e][m]());
                } else {
                  if (
                    j == c[e].replace("-", "/") + "/" ||
                    j == "/" + c[e].replace("-", "/")
                  ) {
                    f.push(c[e][m]());
                  } else {
                    if (c[e].length == 5) {
                      var k = c[e].substring(3, 5) + "-" + c[e].substring(0, 2);
                      var h = a.substring(0, k.length + 1);
                      if (h == k + "/" || h == k.replace("-", "/") + "/") {
                        f.push(c[e][m]());
                      }
                    }
                  }
                }
              }
            }
          }
          return f;
        };
        window.cmp_getXMLLang = function () {
          var c = document.getElementsByTagName("html");
          if (c.length > 0) {
            var c = c[0];
          } else {
            c = document.documentElement;
          }
          if (c && c.getAttribute) {
            var a = c.getAttribute("xml:lang");
            if (typeof a != "string" || a == "") {
              a = c.getAttribute("lang");
            }
            if (typeof a == "string" && a != "") {
              var b = window.cmp_getsupportedLangs();
              return b.indexOf(a.toUpperCase()) != -1 ||
                b.indexOf(a.substr(0, 2).toUpperCase()) != -1
                ? a
                : "";
            } else {
              return "";
            }
          }
        };
        (function () {
          var B = document;
          var C = B.getElementsByTagName;
          var o = window;
          var t = "";
          var h = "";
          var k = "";
          var D = function (e) {
            var i = "cmp_" + e;
            e = "cmp" + e + "=";
            var d = "";
            var l = e.length;
            var G = location;
            var H = G.hash;
            var w = G.search;
            var u = H.indexOf(e);
            var F = w.indexOf(e);
            if (u != -1) {
              d = H.substring(u + l, 9999);
            } else {
              if (F != -1) {
                d = w.substring(F + l, 9999);
              } else {
                return i in o && typeof o[i] !== "function" ? o[i] : "";
              }
            }
            var E = d.indexOf("&");
            if (E != -1) {
              d = d.substring(0, E);
            }
            return d;
          };
          var j = D("lang");
          if (j != "") {
            t = j;
            k = t;
          } else {
            if ("cmp_getlang" in o) {
              t = o.cmp_getlang().toLowerCase();
              h = o.cmp_getlangs().slice(0, 3).join("_");
              k = o.cmp_getPageLangs().slice(0, 3).join("_");
              if ("cmp_customlanguages" in o) {
                var m = o.cmp_customlanguages;
                for (var x = 0; x < m.length; x++) {
                  var a = m[x].l.toLowerCase();
                  if (a == t) {
                    t = "en";
                  }
                }
              }
            }
          }
          var q = "cmp_proto" in o ? o.cmp_proto : "https:";
          if (q != "http:" && q != "https:") {
            q = "https:";
          }
          var n = "cmp_ref" in o ? o.cmp_ref : location.href;
          if (n.length > 300) {
            n = n.substring(0, 300);
          }
          var z = function (d) {
            var I = B.createElement("script");
            I.setAttribute("data-cmp-ab", "1");
            I.type = "text/javascript";
            I.async = true;
            I.src = d;
            var H = ["body", "div", "span", "script", "head"];
            var w = "currentScript";
            var F = "parentElement";
            var l = "appendChild";
            var G = "body";
            if (B[w] && B[w][F]) {
              B[w][F][l](I);
            } else {
              if (B[G]) {
                B[G][l](I);
              } else {
                for (var u = 0; u < H.length; u++) {
                  var E = C(H[u]);
                  if (E.length > 0) {
                    E[0][l](I);
                    break;
                  }
                }
              }
            }
          };
          var b = D("design");
          var c = D("regulationkey");
          var y = D("gppkey");
          var s = D("att");
          var f = o.encodeURIComponent;
          var g = false;
          try {
            g = B.cookie.length > 0;
          } catch (A) {
            g = false;
          }
          var p = q + "//" + o.cmp_host + "/delivery/cmp.php?";
          p +=
            ("cmp_id" in o && o.cmp_id > 0 ? "id=" + o.cmp_id : "") +
            ("cmp_cdid" in o ? "&cdid=" + o.cmp_cdid : "") +
            "&h=" +
            f(n);
          p +=
            (b != "" ? "&cmpdesign=" + f(b) : "") +
            (c != "" ? "&cmpregulationkey=" + f(c) : "") +
            (y != "" ? "&cmpgppkey=" + f(y) : "");
          p +=
            (s != "" ? "&cmpatt=" + f(s) : "") +
            ("cmp_params" in o ? "&" + o.cmp_params : "") +
            (g ? "&__cmpfcc=1" : "");
          z(
            p +
              "&l=" +
              f(t) +
              "&ls=" +
              f(h) +
              "&lp=" +
              f(k) +
              "&o=" +
              new Date().getTime()
          );
          var r = "js";
          var v = D("debugunminimized") != "" ? "" : ".min";
          if (D("debugcoverage") == "1") {
            r = "instrumented";
            v = "";
          }
          if (D("debugtest") == "1") {
            r = "jstests";
            v = "";
          }
          z(q + "//" + o.cmp_cdn + "/delivery/" + r + "/cmp_final" + v + ".js");
        })();
        window.cmp_addFrame = function (b) {
          if (!window.frames[b]) {
            if (document.body) {
              var a = document.createElement("iframe");
              a.style.cssText = "display:none";
              if (
                "cmp_cdn" in window &&
                "cmp_ultrablocking" in window &&
                window.cmp_ultrablocking > 0
              ) {
                a.src = "//" + window.cmp_cdn + "/delivery/empty.html";
              }
              a.name = b;
              a.setAttribute("title", "Intentionally hidden, please ignore");
              a.setAttribute("role", "none");
              a.setAttribute("tabindex", "-1");
              document.body.appendChild(a);
            } else {
              window.setTimeout(window.cmp_addFrame, 10, b);
            }
          }
        };
        window.cmp_rc = function (c, b) {
          var l = "";
          try {
            l = document.cookie;
          } catch (h) {
            l = "";
          }
          var j = "";
          var f = 0;
          var g = false;
          while (l != "" && f < 100) {
            f++;
            while (l.substr(0, 1) == " ") {
              l = l.substr(1, l.length);
            }
            var k = l.substring(0, l.indexOf("="));
            if (l.indexOf(";") != -1) {
              var m = l.substring(l.indexOf("=") + 1, l.indexOf(";"));
            } else {
              var m = l.substr(l.indexOf("=") + 1, l.length);
            }
            if (c == k) {
              j = m;
              g = true;
            }
            var d = l.indexOf(";") + 1;
            if (d == 0) {
              d = l.length;
            }
            l = l.substring(d, l.length);
          }
          if (!g && typeof b == "string") {
            j = b;
          }
          return j;
        };
        window.cmp_stub = function () {
          var a = arguments;
          __cmp.a = __cmp.a || [];
          if (!a.length) {
            return __cmp.a;
          } else {
            if (a[0] === "ping") {
              if (a[1] === 2) {
                a[2](
                  {
                    gdprApplies: gdprAppliesGlobally,
                    cmpLoaded: false,
                    cmpStatus: "stub",
                    displayStatus: "hidden",
                    apiVersion: "2.2",
                    cmpId: 31,
                  },
                  true
                );
              } else {
                a[2](false, true);
              }
            } else {
              if (a[0] === "getUSPData") {
                a[2](
                  {
                    version: 1,
                    uspString: window.cmp_rc("__cmpccpausps", "1---"),
                  },
                  true
                );
              } else {
                if (a[0] === "getTCData") {
                  __cmp.a.push([].slice.apply(a));
                } else {
                  if (
                    a[0] === "addEventListener" ||
                    a[0] === "removeEventListener"
                  ) {
                    __cmp.a.push([].slice.apply(a));
                  } else {
                    if (a.length == 4 && a[3] === false) {
                      a[2]({}, false);
                    } else {
                      __cmp.a.push([].slice.apply(a));
                    }
                  }
                }
              }
            }
          }
        };
        window.cmp_gpp_ping = function () {
          return {
            gppVersion: "1.1",
            cmpStatus: "stub",
            cmpDisplayStatus: "hidden",
            signalStatus: "not ready",
            supportedAPIs: [
              "2:tcfeuv2",
              "5:tcfcav1",
              "7:usnat",
              "8:usca",
              "9:usva",
              "10:usco",
              "11:usut",
              "12:usct",
            ],
            cmpId: 31,
            sectionList: [],
            applicableSections: [0],
            gppString: "",
            parsedSections: {},
          };
        };
        window.cmp_dsastub = function () {
          var a = arguments;
          a[0] = "dsa." + a[0];
          window.cmp_gppstub(a);
        };
        window.cmp_gppstub = function () {
          var c = arguments;
          __gpp.q = __gpp.q || [];
          if (!c.length) {
            return __gpp.q;
          }
          var h = c[0];
          var g = c.length > 1 ? c[1] : null;
          var f = c.length > 2 ? c[2] : null;
          var a = null;
          var j = false;
          if (h === "ping") {
            a = window.cmp_gpp_ping();
            j = true;
          } else {
            if (h === "addEventListener") {
              __gpp.e = __gpp.e || [];
              if (!("lastId" in __gpp)) {
                __gpp.lastId = 0;
              }
              __gpp.lastId++;
              var d = __gpp.lastId;
              __gpp.e.push({ id: d, callback: g });
              a = {
                eventName: "listenerRegistered",
                listenerId: d,
                data: true,
                pingData: window.cmp_gpp_ping(),
              };
              j = true;
            } else {
              if (h === "removeEventListener") {
                __gpp.e = __gpp.e || [];
                a = false;
                for (var e = 0; e < __gpp.e.length; e++) {
                  if (__gpp.e[e].id == f) {
                    __gpp.e[e].splice(e, 1);
                    a = true;
                    break;
                  }
                }
                j = true;
              } else {
                __gpp.q.push([].slice.apply(c));
              }
            }
          }
          if (a !== null && typeof g === "function") {
            g(a, j);
          }
        };
        window.cmp_msghandler = function (d) {
          var a = typeof d.data === "string";
          try {
            var c = a ? JSON.parse(d.data) : d.data;
          } catch (f) {
            var c = null;
          }
          if (typeof c === "object" && c !== null && "__cmpCall" in c) {
            var b = c.__cmpCall;
            window.__cmp(b.command, b.parameter, function (h, g) {
              var e = {
                __cmpReturn: { returnValue: h, success: g, callId: b.callId },
              };
              d.source.postMessage(a ? JSON.stringify(e) : e, "*");
            });
          }
          if (typeof c === "object" && c !== null && "__uspapiCall" in c) {
            var b = c.__uspapiCall;
            window.__uspapi(b.command, b.version, function (h, g) {
              var e = {
                __uspapiReturn: {
                  returnValue: h,
                  success: g,
                  callId: b.callId,
                },
              };
              d.source.postMessage(a ? JSON.stringify(e) : e, "*");
            });
          }
          if (typeof c === "object" && c !== null && "__tcfapiCall" in c) {
            var b = c.__tcfapiCall;
            window.__tcfapi(
              b.command,
              b.version,
              function (h, g) {
                var e = {
                  __tcfapiReturn: {
                    returnValue: h,
                    success: g,
                    callId: b.callId,
                  },
                };
                d.source.postMessage(a ? JSON.stringify(e) : e, "*");
              },
              b.parameter
            );
          }
          if (typeof c === "object" && c !== null && "__gppCall" in c) {
            var b = c.__gppCall;
            window.__gpp(
              b.command,
              function (h, g) {
                var e = {
                  __gppReturn: { returnValue: h, success: g, callId: b.callId },
                };
                d.source.postMessage(a ? JSON.stringify(e) : e, "*");
              },
              "parameter" in b ? b.parameter : null,
              "version" in b ? b.version : 1
            );
          }
          if (typeof c === "object" && c !== null && "__dsaCall" in c) {
            var b = c.__dsaCall;
            window.__dsa(
              b.command,
              function (h, g) {
                var e = {
                  __dsaReturn: { returnValue: h, success: g, callId: b.callId },
                };
                d.source.postMessage(a ? JSON.stringify(e) : e, "*");
              },
              "parameter" in b ? b.parameter : null,
              "version" in b ? b.version : 1
            );
          }
        };
        window.cmp_setStub = function (a) {
          if (
            !(a in window) ||
            (typeof window[a] !== "function" &&
              typeof window[a] !== "object" &&
              (typeof window[a] === "undefined" || window[a] !== null))
          ) {
            window[a] = window.cmp_stub;
            window[a].msgHandler = window.cmp_msghandler;
            window.addEventListener("message", window.cmp_msghandler, false);
          }
        };
        window.cmp_setGppStub = function (a) {
          if (
            !(a in window) ||
            (typeof window[a] !== "function" &&
              typeof window[a] !== "object" &&
              (typeof window[a] === "undefined" || window[a] !== null))
          ) {
            window[a] = window.cmp_gppstub;
            window[a].msgHandler = window.cmp_msghandler;
            window.addEventListener("message", window.cmp_msghandler, false);
          }
        };
        if (!("cmp_noiframepixel" in window)) {
          window.cmp_addFrame("__cmpLocator");
        }
        if (
          (!("cmp_disableusp" in window) || !window.cmp_disableusp) &&
          !("cmp_noiframepixel" in window)
        ) {
          window.cmp_addFrame("__uspapiLocator");
        }
        if (
          (!("cmp_disabletcf" in window) || !window.cmp_disabletcf) &&
          !("cmp_noiframepixel" in window)
        ) {
          window.cmp_addFrame("__tcfapiLocator");
        }
        if (
          (!("cmp_disablegpp" in window) || !window.cmp_disablegpp) &&
          !("cmp_noiframepixel" in window)
        ) {
          window.cmp_addFrame("__gppLocator");
        }
        if (
          (!("cmp_disabledsa" in window) || !window.cmp_disabledsa) &&
          !("cmp_noiframepixel" in window)
        ) {
          window.cmp_addFrame("__dsaLocator");
        }
        window.cmp_setStub("__cmp");
        if (!("cmp_disabletcf" in window) || !window.cmp_disabletcf) {
          window.cmp_setStub("__tcfapi");
        }
        if (!("cmp_disableusp" in window) || !window.cmp_disableusp) {
          window.cmp_setStub("__uspapi");
        }
        if (!("cmp_disablegpp" in window) || !window.cmp_disablegpp) {
          window.cmp_setGppStub("__gpp");
        }
        if (!("cmp_disabledsa" in window) || !window.cmp_disabledsa) {
          window.cmp_setGppStub("__dsa");
        }
      </script>
      <!--
<script>
  import "../scripts/cookie-banner.js";
</script> -->
      <!--
<script>
  import "../scripts/consent-manager.js";
</script> -->

      <style>
        /* ANCHOR Überschrift */
        .firmenname {
          text-align: center;
          font-size: 1rem;
        }

        /* ANCHOR Responsives Titelbild bei Index */

        img {
          width: 100%;
          height: auto;
          margin-left: 1%;
          border-radius: 0.313rem;
        }

        /* ANCHOR Hauptseite */
        .conteneur {
          border: 0px solid black;
          align-content: space-between;
          width: 94vw;
          font-style: normal;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          align-content: flex-start;
        }

        /* Container Inhalt */
        .marchandise {
          padding: 0.625rem;
        }

        /* Kind Elemente */
        .marchandise-1 {
          flex: 2;
        }

        .marchandise-2 {
          flex: 1;
        }

        /* Card Position*/

        .marchandise-2 .link-card-grid {
          padding: 0.5rem;
        }

        /* ANCHOR Bilder von marchandise-2 */

        .marchandise.marchandise-2 img {
          max-width: 30%;
          height: auto;
          border-radius: 5px;
          float: right;
          margin-top: 1.25rem;
          margin-left: 1rem;
          margin-right: 3rem;
        }
      </style>
    </article>
  </p>
</BaseLayout>
