---
import BaseLayout from "../layouts/BaseLayout.astro";
import Konzertgitarre from "../../public/images/konzertgitarre-wide.webp";
import Westerngitarre from "../../public/images/westerngitarre-wide.webp";
import Klarinette from "../../public/images/klarinetten-wide.webp";
import Banjo from "../../public/images/5-string-banjo960x640.webp";
import Querfloete from "../../public/images/offline-narrow.webp";
import Sax from "../../public/images/saxophone-546x1280.webp";
import { Image } from 'astro:assets';
export const prerender = true;
const pageTitle = "Tips zum Instrumentenkauf";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Gute Tips zum Instrumetenkauf! 🎸 Auf was muss ich beim Kauf eines Instruments achten? 🪕"
  keywords="e-gitarre, klarinette, querfloete, saxophon, klavier, keyboard, akkordeon, banjo"
  href="https://www.musicstudio-ziebart.de/instrumentenkauf/"
>
  <article class="container2">
    <section class="artikel artikel-1">
      <h2>Was muss ich beim Instrumentenkauf beachten?</h2>
        <table>
          <tr>
            <td><a href="#E-Gitarre" class="normal-links">E-Gitarre</a></td>
            <td><a href="#Klarinette" class="normal-links">Klarinette</a></td>
          </tr>
          <tr>
            <td><a href="#Querfloete" class="normal-links">Querflöte</a></td>
            <td><a href="#Saxophon" class="normal-links">Saxophon</a></td>
          </tr>
          <tr>
            <td><a href="#Klavier" class="normal-links">Klavier</a></td>
            <td><a href="#Keyboard" class="normal-links">Keyboard</a></td>
          </tr>
          <tr>
            <td><a href="#Akkordeon" class="normal-links">Akkordeon</a></td>
            <td><a href="#banjo" class="normal-links">Banjo</a></td>
          </tr>
        </table>
      <h2>Akustische Gitarre</h2>
      <p>
        <img
            src={Konzertgitarre.src}
            width={Konzertgitarre.width}
            height={Konzertgitarre.height}
            alt="Konzertgitarre"
            aria-label="Konzertgitarre"
          />
      <h3>Konzertgitarre</h3>
      <p>
        Bei akustischer Gitarre ist es wichtig, daß Sie sich eine sogenannte Konzertgitarre oder auch Klassiche Gitarre besorgen. 
        Dieses Instrument ist mit Nylonsaiten bespannt, daß für die Finger im Gegensatz zu Stahlsaiten sehr weich ist. 
        Außerdem hat die Konzertgitarre ein breiteres Griffbrett im Gegensatz zu einer Westerngitarre.
      </p>
      <h3>Westerngitarre</h3>
      <p>
        <img
            src={Westerngitarre.src}
            width={Westerngitarre.width}
            height={Westerngitarre.height}
            alt="Westerngitarre"
            aria-label="Westerngitarre"
          />
      </p>
      <p>
        Bei der Konzertgitarre kann man dann auch mit der linken Hand sauberer
        greifen und mit der rechten Hand besser zupfen. Eine Westerngitarre wird
        oft in der Popmusik eingesetzt ist aber wie gesagt für den
        Anfänger noch nicht so geeignet. Später kann man sich ja dann
        noch eine zulegen. Eine normale Westerngitarre hat eine Sattelbreite von
        42 mm und eine Mensur von 64 cm. Der Kaufpreis liegt so ab 59,- EUR
        aufwärts.
      </p>
      <h3 id="E-Gitarre">E-Gitarre</h3>
      <p>
        Bei der E-Gitarre gibt so Einsteigersets, also Gitarre und Verstärker für ca. 350,- EURO.
      </p>
      <p>
        <img
          src={Klarinette.src}
          width={Klarinette.width}
          height={Klarinette.height}
          alt="Klarinette"
          aria-label="Klarinette"
        />       
      </p>
      <h3 id="Klarinette">Klarinette</h3>
      <p>Sie gehört zu der Familie der Holzblasinstrumente.</p>
    </section>
    <section class="artikel artikel-2">
      <p>
        Die gebräuchlichsten Klarinetten sind die Eb und die Bb Klarinette. Für die jüngeren Schüler sollte man die kleinere 
        also die Eb Klarinette nehmen. Außerdem gibt es grundsätzlich ein sogenanntes Deutsches System auch Oehler-System genannt 
        und ein Böhm-System auch manchmal als französisches System bezeichnet. Die Orchester und auch die Musikhochschulen benutzen 
        das Deutsche System. Dagegen die Jazzmusiker nehmen das Böhm-System. Hugo Strasser spielt zum Beispiel auch mit einem 
        Böhm-System. Der Preis für eine Klarinette aus richtigem Holz liegt etwa bei mindestens 790,- EURO. Beim Deutschen-System 
        muß man von insgesamt 33 Töne (also vom e - c3) sieben oder acht Töne unbedingt anders greifen als beim Böhm-System. Also so 
        viel ist das nicht. Man kann also verhältnismäßig leicht auf das andere System umsteigen finde ich.
      </p>
      <h3 id="banjo">5-string Banjo</h3>
      <p>
        Das 5-string Banjo wird in der Bluegrass Music eingesetzt. Das Banjo unten im Bild zeigt ein Good Times open back Banjo von Deering. 
        Das heißt hinten ist kein Resonanzkörper mehr dran. Es kostet bei Musikhaus Thomann zur Zeit 575,- €. Es ist ein sehr gutes Instrument. 
        Das Griffbrett ist breit genug um ordentlich darauf spielen zu können. Von den Billigbanjos so um 90,- € ist abzuraten. Der fünfte 
        Mechanikwirbel hält die Saite nicht richtig. Oft ist das Griffbrett nicht groß genug und außerdem sind diese Banjos auf der 5. Saite 
        bundunrein. Das heißt die Töne stimmen einfach nicht mehr wenn man sie spielt. Also lieber etwas mehr Geld ausgeben spart eine 
        Menge Ärger.
      </p>
      <p>
        <img
          src={Banjo.src}
          width={Banjo.width}
          height={Banjo.height}
          alt="Banjo"
          aria-label="Banjo"
        />
      </p>
      <h3 id="Querfloete">Querflöte</h3>
      <p>
        Die Querflöte ist ein Holzblasinstrument. Dies kommt daher. daß das Mundstück früher mal aus Holz gewesen ist. 
        Heute werden die Querflöten aus Neusilber gefertigt. Dies hat mit Silber nichts zu tun, sondern ist eine Legierung aus 
        Kupfer und Zink und ca. 10% Nickelzusatz. Zusätzlich werden die meisten Querflöten dann noch versilbert. Also es wird noch 
        eine dünne Silberschicht aufgetragen. Teuerer Querflöten bestehen dann aus Vollsilber. Das Silber ist ein 925 er Vollsilber.
      </p>
      <p>
        Kinder ab 6 - 9 Jahre brauchen ein gebogenes Mundstück da für sie das Instrument sonst zu schwer wäre. Ab 10 oder 11 
        Jahren kann man eine normale Querflöte mit geraden Mundstück verwenden. Der Einstiegspreis liegt dann so bei 149,- EUR. 
        Doch für ein gutes Instrument muß man schon 300,- bis 600,- EUR anlegen. Vollsilberflöten sind noch teurer.
      </p>
      <p>
        Es gibt ein Inline und ein Offset Modell. Beim Inlinemodell liegen die Tonlöcher und Klappen alle auf einer Linie. 
        Beim Offset Modell sind die G-Klappen etwas vorgezogen damit sie die Finger besser erreichen können.
      </p>
      <p>
        <img
          src={Querfloete.src}
          width={Querfloete.width}
          height={Querfloete.height}
          alt="Querfloete"
          aria-label="Querfloete"
        />
      </p>
    </section>
    <section class="artikel artikel-3">
      <p>
        Dann gibt es noch die Sache mit den offenen oder geschlossen Klappen.
        Ich bin der Meinung erst mal eine mit geschlossen Klappen zu nehmen, da
        das Spielen hier doch vereinfacht wird. Eine sogenannte E-Mechanik haben
        die meisten Flöten schon eingebaut. Es erleichtert eben das hohe e3
        zu spielen.
      </p>
      <h3 id="Saxophon">Die Geschichte des Saxophons</h3>
      <p>
        <img
          src={Sax.src}
          width={Sax.width}
          height={Sax.height}
          alt="Saxophon"
          aria-label="Saxophon"
        />
      </p>
      <p>
        Der "Vater des Saxophons" ist der belgische Klarinettist, Flötist und Sohn eines Instrumentenbauers, Adolphe Sax. 
        In der Fabrik seines Vaters konnte Sax viele Erfahrungen sammeln, die er später für seine berühmteste Erfindung benötigte.
      </p>
      <p>
        Das genaue Datum für den Bau des ersten Saxophons ist ungeklärt. Erstes Zeugnis seiner Existenz ist ein von Hector Berlioz 
        verfaßter Zeitungsartikel aus dem Jahre 1842, in dem er Klang und Bauweise des Saxophons beschrieb, auf dem Sax ihm 
        vorgespielt hatte. Interessanterweise handelte es sich hierbei um ein Baßsaxophon. Etwa zu dieser Zeit übersiedelte Sax 
        von Belgien nach Paris, um dort eine eigene Instrumentenfabrik zu gründen. Bis zum Jahre 1846 hatte Sax die Familie der 
        Saxophone vervollständigt.
      </p>
      <p>
        In Sinfonieorchestern konnte sich das Saxophon bis heute nicht
        durchsetzen. Nur in der Unterhaltungsmusik und später im Jazz ist
        das Saxophon vorbehaltlos angenommen worden.
      </p>
      <p>
        Nach einigen Konkursen starb Sax im Jahre 1894 völlig verarmt in Paris. Sein Sohn, Adolphe Sax junior, setzte den 
        Instrumentenbau bis 1920 fort. Dann wurde die Werkstatt von der Firma Henri Selmer übernommen.
      </p>
      <p>
        Es gibt ein Sopransax, Altsax, Tenorsax und Baritonsaxophon. Das
        gebr&auml;uchligste ist in der Popmusik doch das Altsaxophon.
        Kostenpunkt für ein Schülerinstrument liegt so bei 400,- EUR.
        Ein Selmer dagegen bei mindestens 3200,- EUR. Der Unterschied liegt im
        Ton. Ein Selmersax hat zum Beispiel 30% Kupferanteile in seinen
        Lackierungen. Dies gibt dem Instrumenten einen schönen Klang. Der
        Unterschied zwischen einem Altsax und einem Tenorsax liegt
        natürlich im Tonbereich. Ein Altsax klingt höher und man
        braucht nicht ganz so viel Luft zum anblasen.
      </p>
    </section>
    <section class="artikel artikel-4">
      <h4 id="Klavier">Klavier</h4>
      <p>
        Ein neues Klavier gibt es schon ab 2500,- EUR zu kaufen. Es sind dann
        meistens asiatische Firmen. Es k&ouml;nnen dann auch schon Plastikteile
        verwendet werden und man weiss nicht wie lange die halten. Gebrauchte
        Klaviere kann man so ab 600,- EUR bekommen. Man muss dann oft die
        Filzhämmer und auch die Dämpfer austauschen. Dies kann man
        entweder selber machen oder von einem Klaviertechnicker erledigen
        lassen. Die alten Klaviere sind mit sehr viel Innovation gebaut worden
        und haben somit einen guten Ruf.
        <br /> Es ist auf jeden Fall darauf zu achten, dass man kein Klavier mit
        Oberdämpfern kauft. Klaviere mit Oberdämpfern werden heute
        nicht mehr gebaut. So erkennen Sie als Laie, ob es sich um ein
        Unterdämpfer handelt: Machen Sie den Deckel auf und schauen hinein.
        Wenn Sie freie Sicht auf die Hämmerchen haben, ist es ein
        Unterdämpfer. <br /> Das folgende Abbildung zeigt einen
        Oberdämpfer:
      </p>
      <p>
        <Image
        src="/images/oberdaempfer-narrow.webp"
        width="576"
        height="432"
        loading="lazy"
        decoding="async"
        alt="Klavier Oberdaempfer"
        aria-label="Klavier Oberdämpfer"
        />
      </p>
      <p>
        Diese Art der Dämpfung ist zum einen weniger effektiv als bei einem Unterdämpfer-Klavier, da sie die Schwingungen nur im 
        Randbereich der Schwingungsbäuche abdämpft, zum weiteren kann die Dämpferpuppe bei kurzen Diskantsaiten einen optimalen 
        Hammeranschlagspunkt vereiteln - mit entsprechenden Nachteilen zur Klangqualität, und zum Weiteren kann das Stimmen und vor 
        allem die Regulation der Mechanik erschwert sein.
      </p>
      <hr />
      <p>
        <Image
        src="/images/DB-32B.webp"
        width="800"
        height="582"
        loading="lazy"
        decoding="async"
        alt="DB-32B Digitalpiano"
        aria-label="DB-32B"
        />
      </p>
      <p>Thomann DB-32 B Digitalpiano</p>
      <p>
        Alternative zu einem richtigen Klavier gibt es heutzutage Digitalpianos.
        Bei dem Thomann Musikhaus in Treppendorf gibt es zur Zeit ein
        Digitalpiano es heißt Thomann DP-32 B für 498,- EUR. Der Klang
        eines Digital Pianos ist nicht so gut wie bei einem richtigen Klavier,
        aber es hat auch so seine Vorteile. Zum Beispiel kann man ein
        Digitalpiano mit Kopfhörer spielen oder man kann es einfach am
        Lautstärke Regler leiser oder lauter machen. Besonders in Wohnungen
        gibt es oft Streit wegen dem Klavierspielen. Es hat 88 gewichtete Tasten
        mit Hammermechanik; 3 Pedale und einen eingebauten Verstärker mit 2
        x 10 Watt. Man braucht dann noch eine Klavierbank dazu.
      </p>
      <hr />
      <p>
        <Image
        src="/images/SP-320-wide.webp"
        width="800"
        height="582"
        loading="lazy"
        decoding="async"
        alt="SP-320 kleines Klavier"
        aria-label="SP-320"
        />
      </p>
      <p>Thomann SP-320 Digitalpiano</p>
      <p>
        Für einen schmalen Geldbeutel hier (oben der Link) gibt es noch das
        Thomann SP-320 für 198,- EUR. Dies ist kein Standmodel sondern eher
        ein Keyboard. Man braucht dann noch einen Ständer dazu und eine
        Klavierbank.
      </p>
      <hr>
      <p>
        <Image
        src="/images/keyboard.webp"
        width="583"
        height="196"
        loading="lazy"
        decoding="async"
        alt="Yamaha Keyboard"
        aria-label="Yamaha Keyboard"
        />
      </p>
      <h4 id="Keyboard">Keyboard</h4>
      <p>
        Bei einem Keyboard ist darauf zu achten, dass es eine normale grosse
        Tastatur hat. Der Einstiegspreis liegt so bei 250,- EUR. Die meisten
        Keyboard Hersteller kommen aus Japan. Die Instrumente besitzen eine
        Begleitautomatik.
      </p>
      <hr>
      <p>
        <Image
        src="/images/concerto_III.webp"
        width="500"
        height="600"
        loading="lazy"
        decoding="async"
        alt="Hohner Akkordeon Concerto III"
        aria-label="Hohner Akkordeon Concerto III"
        />
      </p>
      <h5 id="Akkordeon">Akkordeon</h5>
      <p>
        Für den Akkordeon Schüler oder Schülerin langt ein 72 Bass Akkordeon. Gebräuchliche 
        Modelle sind das Hohner Concerto III, Hohner Tango III oder auch die Firma Weltmeister geht auch. Es gibt jetzt schon neuere Modelle 
        von der Firma Hohner. Diese kann man auch oft gebraucht kaufen. Beim kauf eines gebrauchten Instrumentes sollten sie 
        alle Register prüfen. Das heißt bei jedem Register alle Töne auf Zug und Druck prüfen, das heißt den Balg bei jedem Ton 
        kurz auseinander ziehen und dann denselben Ton den Balg wieder zusammen drücken. <br />Links bei der Bassseite 
        gilt das gleiche. Wenn mal ein Ton nicht so richtig funktioniert ist es nicht so schlimm. Man kann ihn auch reparieren lassen.
      </p>
      <p>
        <a href="#top" class="normal-links">nach oben!</a>
      </p>
    </section>
  </article>
</BaseLayout>

<style>
  .container2 {
    /* 100 view width */
    width: 100vw;
    /* view height kompletten viewport der verfügbar ist */
    font-style: normal;
    /* feste Höhe */
    /* nebeneinander */
    display: flex;
    /* links starten */
    justify-content: flex-start;
    /* verticale Ausrichtung */
    align-items: flex-start;
    /* Zeilenumbruch möglich */
    flex-wrap: wrap;
    /* Für mehrere Element */
    align-content: flex-start;
  }

  /* Tabelle für Sprungmarken */
  .container2 table {
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    table-layout: auto;
    width: 30%;
    margin-left: 1.2rem;
  }

  /* Container Inhalt */
  .artikel {
    padding: 0.625rem 1.25rem;
  }

  /* Kindelelemente */
  .artikel-1 {
    flex: 34%;
  }

  .artikel-2 {
    flex: 33%;
  }

  .artikel-3 {
    flex: 33%;
  }

  /* pictures from instrumentenkauf.html */
  .artikel.artikel.artikel-1 img {
    width: 50%;
    height: auto;
    margin-left: 1%;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 0.313rem;
  }
  
  /* ANCHOR Bild von Querlöte */
  .artikel.artikel.artikel-2 img {
    width: 100%;
    height: auto;
    margin-left: 1%;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 0.313rem;
  }

  /* ANCHOR Bild von Sax */
  .artikel.artikel.artikel-3 img {
    width: 50%;
    height: auto;
    margin-left: 1%;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 0.313rem;
  }

  /* Bilder vom Klavier */
  .artikel.artikel.artikel-4 img {
    width: 50%;
    height: auto;
    margin-left: 1%;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 0.313rem;
  }

  .artikel.artikel.artikel-1 table {
    font-size: 1.0rem;
  }
  /*
  .article.artikel.artikel-2 image {
    width: 30%;
    height: auto;
    margin-left: 5%;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 0.313rem;
  }*/ 
  /*
  .container2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  } */
</style>
