---
import BaseLayout from "../layouts/BaseLayout.astro";
import DP_32B from "../../public/images/DB-32B.webp";
import Heumann from "../../public/images/heumann-narrow.webp";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
export const prerender = true;
const pageTitle = "Klavierunterricht";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Klavierunterricht in Eibach"
  keywords="klavierunterricht, klavierunterricht in Eibach, klavierstunden online, klavierlehrer nürnberg, klavier zum lernen, einsteiger klavier, klavierstück lernen, piano lernen, klavier lernen erwachsene, klavier anfänger, klavierunterricht nürnberg, klavier spielen lernen, klavier unterricht, piano für anfänger, klavier lernen, piano lessons"
  href="https://www.musicstudio-ziebart.de/klavierunterricht/"
>
  <!--
  <div class="video-container-wrapper">
    <div class="video-container">
      <lite-youtube
        videoid="vxX0WiQhSUE"
        style="background-image: url('https://i.ytimg.com/vi/vxX0WiQhSUE/hqdefault.jpg');"
      >
        <a
          href="https://www.youtube.com/embed/vxX0WiQhSUE?si=vxX0WiQhSUE"
          class="lty-playbtn"
          title="PRAELUDIUM BMV 927 - Johann Sebastian Bach"
        >
          <span class="lyt-visually-hidden"
            >Play Video: Keynote (Google I/O '18)</span
          >
        </a>
      </lite-youtube>
    </div>
  </div> -->

  <div class="container">
    <h2>PRAELUDIUM BMV 927 - Johann Sebastian Bach</h2>
    <div class="iframe-container">
      <iframe
        src="https://www.youtube.com/embed/vxX0WiQhSUE?rel=0&enablejsapi=1"
        width="560"
        height="315"
        title="PRAELUDIUM BWV 927 - Johann Sebastian Bach"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>

  <section>
    <article>
      <h2>Klavier oder Digitalpiano?</h2>
      <p>Wie man mit dem Klavier schelle Stücke spielen kann! YouTube Video:</p>
      <!--
      <div class="container">
        <h2>PRAELUDIUM BMV 927 - Johann Sebastian Bach</h2>
        <div class="iframe-container">
          <iframe
            src="https://www.youtube.com/embed/vxX0WiQhSUE?rel=0"
            width="560"
            height="315"
            title="PRAELUDIUM BWV 927 - Johann Sebastian Bach"
            frameborder="0"
            allowfullscreen></iframe>
        </div>
      </div> -->

      <!--
      <div class="video-container-wrapper">
        <div class="video-container">
          <lite-youtube videoid="vxX0WiQhSUE" style="background-image: url('https://i.ytimg.com/vi/vxX0WiQhSUE/hqdefault.jpg');">
            <a href="https://www.youtube.com/embed/vxX0WiQhSUE?si=vxX0WiQhSUE" class="lty-playbtn" title="PRAELUDIUM BMV 927 - Johann Sebastian Bach">
              <span class="lyt-visually-hidden">Play Video: Keynote (Google I/O '18)</span>
            </a>
            </lite-youtube>  
        </div>
      </div> -->

      <p>
        <img
          src={DP_32B.src}
          width={DP_32B.width}
          height={DP_32B.height}
          alt="Digital Piano DB-32B"
        />
      </p>
      <p>
        Wie ich bereits schon beim Instrumentenkauf erwähnt habe nehmen viele
        Schüler heutzutage ein Digital Piano. Trotzdem meine ich das ein
        richtiges Klavier schöner im Klang ist. Aber man muss es auch warten.
        Das heißt mindestens einmal im Jahr stimmen oder die Hammerfilze müssen
        auch mal im Abstand von 5 Jahren ausgewechselt werden. Hier unten im
        Bild ein gut klingendes Digitalpiano von Musikhaus Thomann ein DB-32B
        für 498,- EUR. Ein neues richtiges Klavier kostet heute so circa 5000,-
        EUR. Man braucht dann auch den Platz dafür. In Wohnungen gibt es oft
        Streit wegen dem Klavierspielen. In Häusern man es in der Regel nichts
        aus. Beim Digitalpiano kann man einfach die Lautstärke leiser drehen
        oder mit Kopfhörer spielen. Dies mag ich persönlich am liebsten. Ich
        störe damit keinen und kann so laut spielen wie ich möchte.
      </p>
      <p>
        <img
          src={Heumann.src}
          width={Heumann.width}
          height={Heumann.height}
          alt="Heumann Klavierschule"
        />
      </p>
      <p>
        Für den Klavierunterricht nehme ich die Klavierschule von Hans-Günter
        Heumann. "Klavierspielen mein schönstes Hobby" heißt der Titel. Siehe
        unten im Bild. Es gibt 2 Bänder von diesem Werk und es beinhaltet auch
        eine CD in der alle Stücke vorgespielt werden. Diese Schule ist für
        Jugendliche und Erwachsene geschrieben worden. Also mindestens im Alter
        von 7 Jahren. Wenn die Kinder noch jünger sind nehme ich noch vorher
        eine leichtere Schule für 5 jährige Schüler.
      </p>
      <p>
        <a href="/instrumentenkauf/" class="normal-links"
          >Mehr Info über das Klavier</a
        >
      </p>
      <p>
        <a href="/leistungen/" class="normal-links">zurück</a>
      </p>
    </article>
  </section>
</BaseLayout>

<YouTube />
