---
import BaseLayout from "../layouts/BaseLayout.astro";
import DP_32B from "../../public/images/DB-32B.webp";
import Heumann from "../../public/images/heumann-narrow.webp";
import YouTube from "../components/YouTube.astro";
import "../styles/lite-yt-embed.css";
import Piano from "../components/Piano.astro";
export const prerender = true;
const pageTitle = "Klavierunterricht Nürnberg | Musicstudio Ziebart";
---

<BaseLayout
  pageTitle={pageTitle}
  description="Ich gebe Klavierunterricht 🎹 in Eibach. Alle Stilrichtungen: Klassik, Unterhaltungsmusik, Ragtime, Film Musik und Popmusik."
  keywords="klavierunterricht nürnberg, klavierunterricht, klavierunterricht nürnberg, klavier spielen lernen, klavier lernen nürnberg, klavierlehrer nürnberg, klavierschule nürnberg, klavierunterricht in der nähe, klavierstücke schnell spielen"
  href="https://www.musicstudio-ziebart.de/klavierunterricht/"
>
  <br />
  <article>
    <section>
      <h2>Wann fängt man mit dem Klavierunterricht an?</h2>
      <p>
        Den Klavierunterricht fängt man frühestens ab der 2. Klasse meine ich.
        Also so 8 Jahre. Die Kinder können dann die Buchstaben lesen und das
        Noten erklären wird dann einfacher.
      </p>
      <h3>Wie schwer ist es ein Piano zu erlernen?</h3>
      <p>
        Das Klavier spielen lernen ist nicht so einfach. Man muss in der rechten Hand den Violinschlüssel lesen und in der linken Hand 
        dann noch einen Bassschlüssel. Der Bassschlüssel wird aber anders gelesen als der Violinschlüssel. Er wird nähmlich zwei 
        Stufen höher gerechnet. Also wenn man ein C liest wird es als E gespielt. Aber trotzdem bleibt für mich das Piano eines der 
        schönsten Instrumente die es gibt.
      </p>
      <h3>Welche Instrumente kann ich als Erwachsener noch lernen?</h3>
      <p>
        Also ganz oben auf der Liste steht bei den Erwachsenen immer noch das Klavier, die Gitarre und auch das Schlagzeug. Klarinette und 
        Akkordeon wird auch manchmal gespielt.
      </p>
      <h3>Wieviel kostet Klavier im Monat?</h3>
      <p>
        Also bei uns hier in Nürnberg so ungefähr 17,- EUR pro Schulstunde mit 30 Minuten. Aber woanders kann es durchaus 
        noch viel mehr kosten. Sie finden meine Preisliste oben auf dem Button Honorar.
      </p>
      <h3>Wie lange dauert es als Erwachsener Klavier zu lernen?</h3>
      <p>
        Also mindestens zwei Jahre bis man halbwegs spielen kann. Dann ist man aber noch kein Virituose.
      </p>
    </section>
    <section>
      <h2>Klavier oder Digitalpiano für den Klavierunterricht?</h2>
      <p>
        <img
          src={DP_32B.src}
          width={DP_32B.width}
          height={DP_32B.height}
          alt="Bild SEO Klavierunterricht nürnberg"
          aria-label="Bild SEO Klavierunterricht nürnberg"
        />
      </p>
      <p>
        Den Klavierunterricht Nürnberg gibt es schon seit 2014 bei mir. Wie ich
        bereits schon beim Instrumentenkauf erwähnt habe nehmen viele Schüler
        heutzutage ein Digital Piano. Trotzdem meine ich das ein richtiges
        Klavier schöner im Klang ist. Aber man muss es auch warten. Das heißt
        mindestens einmal im Jahr stimmen oder die Hammerfilze müssen auch mal
        im Abstand von 5 Jahren ausgewechselt werden. Hier unten im Bild ein gut
        klingendes Digitalpiano von Musikhaus Thomann ein DB-32B für 498,- EUR.
        Ein neues richtiges Klavier kostet heute so circa 5000,- EUR. Man
        braucht dann auch den Platz dafür. In Wohnungen gibt es oft Streit wegen
        dem Klavierspielen. In Häusern man es in der Regel nichts aus. Beim
        Digitalpiano kann man einfach die Lautstärke leiser drehen oder mit
        Kopfhörer spielen. Dies mag ich persönlich am liebsten. Ich störe damit
        keinen und kann so laut spielen wie ich möchte.
      </p>
    </section>
    <section>
      <h2>Welches Unterrichtsmaterial für den Klavierunterricht nehmen?</h2>
      <p>
        <img
          src={Heumann.src}
          width={Heumann.width}
          height={Heumann.height}
          alt="Bild SEO Heumann Klavierschule"
          aria-label="Bild SEO Heumann Klavierschule"
        />
      </p>
      <p>
        Für das Klavier spielen lernen nehme ich die Klavierschule von
        Hans-Günter Heumann. "Klavierspielen mein schönstes Hobby" heißt der
        Titel. Siehe unten im Bild. Es gibt 2 Bänder von diesem Werk und es
        beinhaltet auch eine CD in der alle Stücke vorgespielt werden. Diese
        Schule ist für Jugendliche und Erwachsene geschrieben worden. Also
        mindestens im Alter von 7 Jahren. Wenn die Kinder noch jünger sind nehme
        ich noch vorher eine leichtere Schule für 5 jährige Schüler.
      </p>
      <p>
        Im Band 1 der Klavierschule ist ein langsamer Aufbau des Klavierspielens
        enthalten. Die Notenkenntnisse sowohl für die rechte Hand als auch für
        die linke Hand werden langsam erklärt. Die rechte Hand wird in einem
        Violinschlüssel und die linke Hand wird in einem Bassschlüssel
        aufgeschrieben. Der Bassschlüssel ist wieder anders zu lesen als der
        Violinschlüssel. Das Klavier ist auch die Königin der Instrumente weil
        man über 7 Oktaven zur Verfügung hat. Außerdem kann man per Tastendruck
        lauter oder leiser spielen.
      </p>
      <p>
        Es sind auch immer sogenannte Testblätter in der Klavierschule enthalten
        die ich dann gemeinsam mit den Schülern ausfülle um das Wissen nochmals
        zu vertiefen.
      </p>
    </section>
    <section>
      <h2>Welche Stücke kommen im Band 2 der Klavierschule vor?</h2>
      <p>
        Die Klavierschule von Hans-Günter Heumann ist so aufgebaut das man die
        Stücke nacheinander spielen muss da sie nach Schwierigkeitsgrade
        eingeteilt sind. Die Klavierstücke sind nicht nach Stilepochen also
        Barock, Klassik oder Romantik aufgeschrieben worden. Außer der
        Klassischen Musik ist auch moderne Musik dabei wie Ragtime oder
        Südamerikanische Musik. Wenn beide Bänder gespielt worden sind nehme ich
        noch den Zusatzband es heißt "Der Klassikband" von Hans-Günter Heumann.
        Diesen Band muss man wieder nacheinander spielen da es einen
        Stufenaufbau besitzt.
      </p>
      <p>
        Jedenfalls macht es den Schülern eine Menge Spaß mit diesem
        Unterrichtsmaterial.
      </p>
      <p>
        <a href="/instrumentenkauf/" class="normal-links"
          >Mehr Info über das Klavier</a
        >
      </p>
      <div class="container">
        <h2>PRAELUDIUM BMV 927 - Johann Sebastian Bach</h2>
        <p>
          Klavierstücke schnell spielen ist hier das Thema. Dies funktioniert
          nur dann wenn man das Stück auswendig lernt. Es ist nur eine Seite
          lang.
        </p>
        <div class="iframe-container">
          <iframe
            src="https://www.youtube.com/embed/vxX0WiQhSUE?rel=0&enablejsapi=1"
            width="560"
            height="315"
            title="PRAELUDIUM BWV 927 - Johann Sebastian Bach"
            frameborder="0"
            allowfullscreen></iframe>
        </div>
      </div>
      <p>
        <a href="/unterricht/" class="normal-links">zurück</a>
      </p>
    </section>
  </article>
</BaseLayout>

<YouTube />

<Piano />

<style>
  article img {
    max-width: 30%;
    height: auto;
    box-shadow: 0px 0px 10px 5px #4c4948;
    border-radius: 5px;
    float: right;
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: 3rem;
  }
</style>
